{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<style type="text/css">
    input{
        width: 128%
    }
    #a{
        width:81%
    }
    textarea {
        width: 100%;
        height: 30%;
    }

    #myProgress {
        width: 100%;
        background-color: #ddd;
    }

    #myBar {
        width: 10%;
        height: 30px;
        background-color: #4CAF50;
        text-align: center;
        line-height: 30px;
        color: white;
    }
</style>
<BR>
<center><h3>CREAR SECRETARIA</h3></center>
<div id="c_secretaria">
<form method="post" enctype="multipart/form-data" id="form_secretaria">
    {% csrf_token %}
    <div class='row' style="margin-top:2%">
        <div class="card text-center" style="width: 26%; height:35%; margin-left: 6%">
            <div class="card-body">
                <h4 class="card-title">Datos personales</h4>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -16%;" class="input-group-text" id="inputGroup-sizing-sm">Nombre:</span>
                            </div>
                            <div style="margin-left: -9%;">{{ secretaria.nombre_t }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -15%;" class="input-group-text" id="inputGroup-sizing-sm">Apellido:</span>
                            </div>
                            <div style="margin-left: -9%;">{{ secretaria.apellido_t }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -4%;" class="input-group-text" id="inputGroup-sizing-sm">Numero de documento:</span>
                            </div>
                            <div style="margin-left: -2.4%; margin-top: 0%;">{{ secretaria.dni_t }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Fecha de nacimiento:</span>
                            </div>
                            <div style="margin-left: -3%" id="a">{{ secretaria.fecha_nacimiento_t }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Lugar de nacimiento:</span>
                            </div>
                            <div style="margin-left: -8%">{{ secretaria.lugar_nacimiento_t }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Domicilio:</span>
                            </div>
                            <br>
                            <div id="a"  style="margin-left:-6.5%">{{ secretaria.domicilio_t }}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Sexo:</span>
                            </div>
                            <br>
                            <div style="margin-left:-1%">{{ secretaria.sexo_t }}</div>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <div class="card text-center" style="width: 26%; height:67% ;margin-left: 5%">
            <div class="card-body" >
                <h4 class="card-title">Datos de Contacto</h4>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -9%;" class="input-group-text" id="inputGroup-sizing-sm">Telefono particular:</span>
                            </div>
                            <div style="margin-left: -5%;">{{ secretaria.telefono_particular }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -9%;" class="input-group-text" id="inputGroup-sizing-sm">Telefono laboral:</span>
                            </div>
                            <div style="margin-left: -5%;">{{ secretaria.telefono_laboral }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -9%;" class="input-group-text" id="inputGroup-sizing-sm">Telefono de un familiar:</span>
                            </div>
                            <div style="margin-left: -5%; margin-top: 0%;">{{ secretaria.telefono_familiar }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -9%;" class="input-group-text" id="inputGroup-sizing-sm">Datos familiares a cargo:</span>
                            </div>
                            <div style="margin-left: -5%; margin-top: 0%;; height:50%">{{ secretaria.datos_familiares_cargo }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -10%;" class="input-group-text" id="inputGroup-sizing-sm">Correo electronico:</span>
                            </div>
                            <br>
                            <div style="margin-left:-5%">{{ secretaria.email_t }}</div>
                        </div>
                    </div>
            </div>
            <div class="card text-center" style="width: 26%; margin-left: 5%">
                <div class="card-body">
                    <h4 class="card-title">Datos Laborales</h4>

                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">

                            <div class="input-group input-group-sm mb-3 form-group">
                                <div class="input-group-prepend">
                                    <span style="margin-left: -8%;" class="input-group-text" id="inputGroup-sizing-sm">Estudios cursados:</span>
                                </div>
                                <div id="b" style="margin-left: -4%;; height:50%">{{ secretaria.estudios_cursados }}</div>
                            </div>
                            <div class="input-group input-group-sm mb-3 form-group">
                                <div class="input-group-prepend">
                                    <span style="margin-left: -7.5%;" class="input-group-text" id="inputGroup-sizing-sm">Antecedentes laborales:</span>
                                </div>
                                <br>
                                <div style="margin-left:-5%; height:50%">{{ secretaria.antecedentes_laborales }}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
        </form>
<span id="resultado_crear"></span>

    <center><button onclick="crear_Secretaria()" class="btn btn-success" style="width:30%">Cargar</button></center>

<script>

    function crear_Secretaria(){
        var myForm = document.getElementById('form_secretaria');
        formData = new FormData(myForm);
        $.ajax({
            url: '{% url 'crear_secretaria' %}',
            data : formData,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data){
                if (data.error){
                    document.getElementById("resultado_crear").innerHTML = data.resultado;
                } else {
                    document.getElementById("c_secretaria").style.display = "none";
                    document.getElementById("resultado_crear").innerHTML = data.resultado;
                }
            }
        });
    }

</script>

{% endblock body %}
