{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<style type="text/css">
    input{
        width: 140%;
    }
    #a{
        width: 64%;     
    }
    #b{
        width: % ;
    }
</style>

<br>
<form id="form_padre" style="margin-left: 30%;" method="post" >
    {% csrf_token %}
    <input type="hidden" value={{dni_alumno}} name="dni_alumno">
    <input type="hidden" value={{dni_padre}} name="dni_padre">
    <div class="card text-center" style="width: 45%; margin-left: 6%">
        <div class="card-body">
            {% if objetivo == 'Cargar'%}
                <h4 class="card-title">Cargar Padre</h4>
            {% else %}
                <h4 class="card-title">Editar Padre</h4>
            {% endif %}
            <ul class="list-group list-group-flush">

                <li class="list-group-item">

                    <div class="input-group input-group-sm mb-3 form-group">
                        <div class="input-group-prepend" style=" margin-right: 800%;">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Nombre:</span>
                        </div>
                        <div style="margin-left: -4.5%">{{padre_form.nombre}}</div>
                    </div>

                    <div class="input-group input-group-sm mb-3 form-group">
                        <div class="input-group-prepend"  style="margin-right: 800%;">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Apellido:</span>
                        </div>
                        <div style="margin-left: -4.5%;">{{padre_form.apellido}}</div>
                    </div>
                    {% if objetivo == 'Cargar'%}
                    <div class="input-group input-group-sm mb-3 form-group">
                        <div class="input-group-prepend"  style="margin-right: 800%;">
                            <span  class="input-group-text" id="inputGroup-sizing-sm">Numero de documento:</span>
                        </div>
                        <div style="margin-left: -0.5%;">{{padre_form.dni}}</div>
                    </div>
                    {% endif %}
                    <div class="input-group input-group-sm mb-3 form-group">
                        <div class="input-group-prepend"  style=" margin-right: 800%;">
                            <span  class="input-group-text" id="inputGroup-sizing-sm">Lugar de nacimiento:</span>
                        </div>
                        <div style="margin-left: -4.5%">{{padre_form.lugar_nacimiento}}</div>
                    </div>

                    <div class="input-group input-group-sm mb-3 form-group">
                        <div class="input-group-prepend"  style="margin-right: 800%;">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Fecha de nacimiento:</span>
                        </div>
                        <br>
                        <div id="a"  style="margin-left: -4.5%">{{padre_form.fecha_nacimiento}}</div>
                    </div>

                    <div class="input-group input-group-sm mb-3 form-group">
                        <div class="input-group-prepend"  style=" margin-right: 800%;">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Domicilio:</span>
                        </div>
                        <br>
                        <div style="margin-left:-4.5%">{{padre_form.domicilio}}</div>
                    </div>

                    <div class="input-group input-group-sm mb-3 form-group">
                        <div class="input-group-prepend"  style=" margin-right: 800%;">
                            <span  class="input-group-text" id="inputGroup-sizing-sm">Email:  </span>
                        </div>
                        <div style="margin-left: 0%;">{{padre_form.email}}</div>
                    </div>

                    <div class="input-group input-group-sm mb-3 form-group">
                        <div class="input-group-prepend"  style="margin-right: 800%;">
                            <span  class="input-group-text" id="inputGroup-sizing-sm">Sexo:</span>
                        </div>
                        <div style="margin-left: -0.5%;">{{padre_form.sexo}}</div>
                    </div>

                    <div class="input-group input-group-sm mb-3 form-group">
                        <div class="input-group-prepend"  style="margin-right: 800%;">
                            <span  class="input-group-text" id="inputGroup-sizing-sm">Profesion:</span>
                        </div>
                        <div style="margin-left: -4.5%;">{{padre_form.profesion}}</div>
                    </div>

                    <div class="input-group input-group-sm mb-3 form-group">
                        <div class="input-group-prepend"  style="margin-right: 800%;">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Telefono:</span>
                        </div>
                        <div style="margin-left: -0.5%;">{{padre_form.telefono_trabajo}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>

{% if objetivo == 'Cargar'%}
    <center><button class="btn btn-success" onclick="matricular_Padre()" id="btn_padre">Cargar</button></center>
{% else %}
    <center><button class="btn btn-success" onclick="editar_Padre()" id="btn_padre">Editar</button></center>
{% endif %}



<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title" id="titulo">Resultado</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <span style="margin-left:5%">Resultado:</span><span id="resultado_crear_p"></span>
                <div style="margin-top:5%" id="loader_resultado" class="loader"></div>

            </div>

            <div class="modal-footer" id="footer">
                <button type="button" style="display: none;" class="btn btn-success" data-dismiss="modal" id="continuar">Volver</button>
                <a class="btn btn-primary" style="display: none;" href="{% url 'index' %}" id="volver">Continuar</a>
            </div>
        </div>
    </div>
</div>

<script>

    function matricular_Padre(){
        if (confirm("¿Crear Padre?")) {
            var myForm = document.getElementById('form_padre');
            formData = new FormData(myForm);
            $('#myModal').modal('show');
            document.getElementById("resultado_crear_p").innerHTML = "";
            document.getElementById("loader_resultado").style.display = "block";
            document.getElementById("continuar").style.display = "none";
            document.getElementById("volver").style.display = "none";
            var element = document.getElementById("titulo");
            element.innerHTML = "Creacion de Padre.";
            $.ajax({
                url: '{% url 'crear_padre_madre' %}',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    document.getElementById("loader_resultado").style.display = "none";
                    document.getElementById("resultado_crear_p").innerHTML = data.resultado;
                    if (data.error){
                        document.getElementById("volver").style.display = "none";
                        document.getElementById("continuar").style.display = "block";
                    }else{
                        document.getElementById("volver").style.display = "block";
                        document.getElementById("continuar").style.display = "none";
                    }
                }
            });
        } else {
            return;
        } 
    }
    
    function editar_Padre(){
        if (confirm("¿Editar Padre?")) {
            var myForm = document.getElementById('form_padre');
            formData = new FormData(myForm);
            $('#myModal').modal('show');
            var element = document.getElementById("titulo");
            element.innerHTML = "Edicion de Padre.";
            document.getElementById("resultado_crear_p").innerHTML = "";
            document.getElementById("loader_resultado").style.display = "block";
            document.getElementById("continuar").style.display = "none";
            document.getElementById("volver").style.display = "none";
            $.ajax({
                url: '{% url 'editar_padre' %}',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    document.getElementById("loader_resultado").style.display = "none";
                    document.getElementById("resultado_crear_p").innerHTML = data.resultado;
                    if (data.error){
                        document.getElementById("volver").style.display = "none";
                        document.getElementById("continuar").style.display = "block";
                    }else{
                       document.getElementById("volver").style.display = "block";
                        document.getElementById("continuar").style.display = "none";
                    }
                }
            });
        } else {
            return;
        }
    }
</script>


{% endblock body %}
