{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<style>

    .table-wrapper-scroll-y {
      display: block;
      max-height: 200px;
      overflow-y: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

</style>

<br>
{% if familiares|length != 0%}
    <h3><center>Padres de {{alumno.apellido|title}} {{alumno.nombre|title}}.</center></h3>
    <br>
    <table class="table table-sm table-hover" id="tabla" align="center" style="width:50%">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Email</th>
            <th>Desvincular</th>
            <th>Editar</th>
        </tr>
        {% for a in familiares %}
        <tr>
            <td>{{a.padre_madre.nombre|title}}</td>
            <td>{{a.padre_madre.apellido|title}}</td>
            <td>{{a.padre_madre.dni}}</td>
            <td>{{a.padre_madre.email}}</td>
            <td><button class="btn btn-warning" onclick="desvincular({{a.padre_madre.dni}})"><i class="fa fa-ban"></i></button></td>
            <td><a class="btn btn-info" href="{% url 'form_editar_padre' a.padre_madre.dni %}"><i class="fa fa-edit"></i></a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h3><center>{{alumno.apellido|title}} {{alumno.nombre|title}} no tiene ningun Padre/Madre.</center></h3>
{% endif %}
<form id="desvincular_familiar" method="post" action="{% url 'desvincular_familiar' %}">
    {% csrf_token %}
    <input type="hidden" value="{{alumno.dni}}" name="dni_alumno">
    <input type="hidden" value=0 name="dni_padre" id="dni_padre">
</form>


<center>
    <a class="btn btn-primary centerB" href="{% url 'datos_alumno' alumno.dni %}">Volver</a>
    <a class="btn btn-primary centerB" href="{% url 'traer_pedidos' %}">Volver a Pedidos</a>
    <a class="btn btn-success text-white centerB" onclick="traer_padres('{% url 'todos_los_padres_asignar' alumno.dni %}')">Añadir Padre</a>
</center>

<div class="modal fade" id="todos_los_padres">
    <div class="modal-dialog modal-lg">
        <div id="datos_padre">
        </div>
    </div>
</div>

<form action="{% url 'padres_del_alumno' alumno.dni%}" method="post" id="pda">
    {% csrf_token %}
</form>

<script>

    function desvincular(dni_padre){
        if (confirm("¿Desvincular a este Padre ?")) {
            document.getElementById("dni_padre").value = dni_padre;
            var des = document.getElementById("desvincular_familiar");
            des.submit();
        } else {
            return;
        }
    }

    function traer_padres(url){
        $.ajax({
            method: "POST",
            url: url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        })
            .done(function (data) {
            $("#datos_padre").html(data);
            $('#todos_los_padres').modal('show');
        });
    }


    function refresh_p(){
        var des = document.getElementById("pda");
        des.submit();
    }


</script>

{% endblock body %}
