<div class="modal-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <span>Elegir Padre.</span>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Dni</th>
                        <th>Opcion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for padre in todos_los_padres %}
                    <tr>
                        <td>{{padre.nombre}}</td>
                        <td>{{padre.apellido}}</td>
                        <td>{{padre.dni}}</td>
                        <td><input type="radio" id={{padre.dni}} name="eleccion" value={{padre.dni}} /></td>
                    </tr>
                    {% endfor %}
                    <form id="select_padre" method="post">
                        {% csrf_token %}
                        <input name="alumno_dni_padre" id="alumno_dni_padre" value={{dni_alumno}}>
                        <input name="dni_padre" id="dni_padre" value=0>
                    </form>
                </tbody>
            </table>

            <a href="{% url 'cargar_padre' {{dni_alumno}} %}">Crear Padre</a>

        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="select_padre()">Continuar</button>
        </div>

    </div>
</div>