<div class="modal-dialog">
    <div class="modal-content">
        <div id="padress">
        <!-- Modal Header -->
        <div class="modal-header">
            <span>Asignar Padre.</span>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <input type="text"placeholder="Padre que desea buscar" id="myInput" onkeyup="buscar_padre()" size="5">
            <select id="filter_by">
                <option value=0>Nombre</option>
                <option value=1>Apellido</option>
                <option value=2>Dni</option>
            </select>
            <br>
            <table class="table table-bordered" id="tabla_padres">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Dni</th>
                        <th>Opcion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for padre in todos_los_padres %}
                    <tr>
                        <td>{{padre.nombre}}</td>
                        <td>{{padre.apellido}}</td>
                        <td>{{padre.dni}}</td>
                        <td><input type="radio" id={{padre.dni}} name="padre" value={{padre.dni}}></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <span id="resultado_padres"></span>
        <!-- Modal footer -->
        <div class="modal-footer">
            <form id="select_padre" method="post">
                {% csrf_token %}
                <input name="dni_alumno" id="dni_alumno" value={{dni_alumno}} type="hidden">
                <input name="dni_padre" id="dni_padre" value=0 type="hidden">
            </form>
            <a href="{% url 'cargar_padre' dni_alumno %}">Crear Padre</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-success" onclick="mandar_padre()">Continuar</button>
        </div>

    </div>
</div>

<script>

     $('input[name=padre]').click(function() {
        var aux2 = $('input[name=padre]:checked').val();
        document.getElementById("dni_padre").value = aux2;
    });
    
    

    function mandar_padre(){
        var myForm = document.getElementById('select_padre');
        formData = new FormData(myForm);
        $.ajax({
            url: '{% url 'asignar_padre' %}',
            data : formData,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data){
                document.getElementById("padress").style.display = "none";
                document.getElementById("resultado_padres").innerHTML = data.resultado;
            }
        });     
    }

    function buscar_padre() {
        var e = document.getElementById("filter_by");
        var strUser = e.options[e.selectedIndex].value;
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tabla_padres");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[strUser];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }


</script>
