{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<form id="form_re_matricular" method="post">
    {% csrf_token %}
    <div align="center" style="margin-top:2%">
        <div class="card text-center" style="width: 25%" >
            <div class="card-body">
                <h4 class="card-title">Datos personales</h4>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 200%;">
                                <span  class="input-group-text" id="inputGroup-sizing-sm">Dni del Alumno:</span>
                            </div>
                            <div style="margin-left: -0.5%; margin-top: 5px">{{re_matricular_form.dni_alumno}}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 200%;">
                                <span  class="input-group-text" id="inputGroup-sizing-sm">Dni del Padre:</span>
                            </div>
                            <div style="margin-left: -0.5%; margin-top: 5px">{{re_matricular_form.dni_padre}}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 200%;">
                                <span  class="input-group-text" id="inputGroup-sizing-sm">Email del Padre:</span>
                            </div>
                            <div style="margin-left: -0.5%; margin-top: 5px;">{{re_matricular_form.email_padre}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>

<center><button class="btn btn-success" onclick="re_matricular()">Enviar</button></center>

<div class="modal fade" id="re_mat_alumno" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Re Matricular Alumno:</h5>
            </div>
            <div class="container-fluid">
                <div class="modal-body row">
                    <span style="margin-left:5%">Resultado:</span><span id="resultado"></span>
                    <div style="margin-top:5%" id="loader_resultado" class="loader"></div>
                </div>
                <div class="modal-footer" id="footer">
                    <a type="button" class="btn btn-primary" id="continuar" href="{% url 'formReMatricular' %}">Continuar</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="cerrar">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    document.getElementById("continuar").style.display = "none";
    document.getElementById("cerrar").style.display = "none";

    function re_matricular(){
        if (confirm("¿Solicitar pedido de Re Matriculacion ?")) {
            var myForm = document.getElementById('form_re_matricular');
            formData = new FormData(myForm);
            $('#re_mat_alumno').modal('show');
            document.getElementById("resultado").innerHTML = "";
            document.getElementById("continuar").style.display = "none";
            document.getElementById("cerrar").style.display = "none";
            document.getElementById("loader_resultado").style.display = "block";
            $.ajax({
                url: '{% url 'pedido_re_matricular' %}',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    document.getElementById("loader_resultado").style.display = "none";
                    document.getElementById("resultado").innerHTML = data.resultado;
                    console.log(data.resultado);
                    if (data.error){
                        document.getElementById("resultado").innerHTML = data.resultado;
                        document.getElementById("continuar").style.display = "none";
                        document.getElementById("cerrar").style.display = "block";
                    } else {
                       document.getElementById("resultado").innerHTML = data.resultado;
                        document.getElementById("continuar").style.display = "block";
                        document.getElementById("cerrar").style.display = "none";
                    }
                }
        });
    } else {
        return;
    }
    }

</script>

{% endblock body %}
