<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <span>Transportistas:</span>
        </div>
        <!-- Modal body -->
        <div class="modal-body">

            {% if transportistas|length != 0%}
                <div id="hide_correct">
                    <input type="text"placeholder="Curso que desea buscar" id="myInput" onkeyup="buscar_transportista()" size="5">
                    <select id="filter_by">
                        <option value=0>Nombre</option>
                        <option value=1>Apellido</option>
                        <option value=2>Dni</option>
                    </select>
                    <br>
                    <br>
                    <table class="table table-bordered" id="tabla_transportistas">
                        <thead>
                            <tr>
                                <th>Año</th>
                                <th>Division</th>
                                <th>Turno</th>
                                <th>Opcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for curso in todos_los_cursos %}
                            <tr>
                                <td>{{curso.aNo}}</td>
                                <td>{{curso.division}}</td>
                                <td>{{curso.turno}}</td>
                                <td><input type="radio" id={{curso.id}} name="cursoss" value={{curso.id}}></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h3><center>No hay ningun Curso.</center></h3>
            {% endif %}
            <span id="resultado_asignar_curso"></span>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <form id="select_curso" method="post">
                {% csrf_token %}
                <input name="dni_alumno" id="dni_alumno" value={{dni_alumno}} type="hidden">
                <input name="id_curso" id="id_curso" value=0 type="hidden">
            </form>
            <a href="{% url 'form_transportista' %}" align="left" id="crear_btn">Crear Transportista</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="cerrar_btn">Cerrar</button>
            <button type="button" class="btn btn-success" id="cont_transportista" onclick="select_transportista()">Asignar</button>
            <button type="button" class="btn btn-success" id="cont_btn" onclick="refresh_p()">Continuar</button>
        </div>
    </div>
</div>



<script>

    $('input[name=transporte]').click(function() {
        var aux = $('input[name=transporte]:checked').val();
        document.getElementById("dni_transportista").value = aux
        document.getElementById("cont_transportista").style.display = "block";
    });

    function select_curso(){
        var aux_form = document.getElementById("select_transportista");
        var r = confirm("¿Asignar este Transportista ?");
        if (r == true) {
            var myForm = document.getElementById('select_transportista');
            formData = new FormData(myForm);
            $.ajax({
                url: '{% url 'cambiar_curso' %}',
                data : formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    document.getElementById("resultado_asignar_curso").innerHTML = data.resultado;
                }
            });
        } else {
            return;
        }
    }

    function buscar_transportista() {
        var e = document.getElementById("filter_by");
        var strUser = e.options[e.selectedIndex].value;
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tabla_transportistas");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[strUser];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
