<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h3 id="titulo">Curso Actual: {{curso_actual}}</h3>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div id="esconder_resultado">
                <div class="dropdown">
                    <label for="select_cc">Cambiar de Curso: </label>
                    <select class="form-control" style="width: 30%; margin-left: 32%; margin-top: -8%" id="select_cc" onchange="show_table()">
                        <option value=0>No</option>
                        <option value=1>Si</option>
                    </select>
                </div>
                <div id="contenido_cambiar_curso">
                    <br>
                    {% if todos_los_cursos|length != 0 %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Año</th>
                                <th scope="col">Division</th>
                                <th scope="col">Turno</th>
                                <th scope="col">Opcion</th>
                            </tr>
                        </thead>
                        <tbody class="table table-hover">
                            {% for curso in todos_los_cursos %}
                            <tr>
                                <td>{{curso.aNo}}</td>
                                <td>{{curso.que_seccion}}</td>
                                <td>{{curso.que_turno}}</td>
                                <td><input type="radio" id={{curso.id}} name="cursoss" value={{curso.id}}></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <span style="color:red" id="msg_advertencia">Advertencia: Los Padres del Alumno seran notificados en caso de realizar una modificacion.</span>

                    {% else %}
                    <h3><center>No Hay Ningun Curso.</center></h3>
                    {% endif %}
                    <form id="form_cambiar_curso" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="id_curso" name="id_curso" value=0 type="number">
                        <input type="hidden" id="dni_alumno" name="dni_alumno" value={{alumno.dni}}>
                    </form>
                </div>
                <br>
                <div class="dropdown">
                    <label for="select_eg">Egresar al Alumno:</label>
                    <select class="form-control" style="width: 30%; margin-left: 32%; margin-top: -8%" id="select_eg" onchange="show_egres()">
                        <option value=0>No</option>
                        <option value=1>Si</option>
                    </select>
                </div>

                <br>
                <span style="color:red" id="msg_advertencia_egreso">Advertencia: Si el Alumno pasa a estar como Egresado, el mismo ya no pertenecera a ningun Curso y no podra volver a pertenecer a ninguno. Ademas los padres del mismo seran notificados.</span>
            </div>
            <span id="resultado"></span>
            <form id="pedido_egreso" method="post">
                {% csrf_token %}
                <input id="dni_alumno" name="dni_alumno" value={{alumno.dni}} type="hidden">
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="cerrar_btn">Cerrar</button>
            <button type="button" class="btn btn-success" id="volver_btn" onclick="refresh_p()">Continuar</button>
            <button type="button" class="btn btn-info" id="cambiar_curso_btn" onclick="cambiar_curso()">Cambiar Curso</button>
            <button type="button" class="btn btn-info" id="egresar_btn" onclick="egresar_alumno()">Egresar</button>
        </div>
    </div>
</div>

<script>

    //Botones

    document.getElementById("cambiar_curso_btn").style.display = "none";
    document.getElementById("volver_btn").style.display = "none";
    document.getElementById("egresar_btn").style.display = "none";

    //Contenido de los Select

    document.getElementById("contenido_cambiar_curso").style.display = "none";
    document.getElementById("msg_advertencia_egreso").style.display = "none";
    document.getElementById("msg_advertencia").style.display = "none";

    //Spans

    document.getElementById("msg_advertencia_egreso").style.display = "none";

    $('input[name=cursoss]').click(function() {
        var aux = $('input[name=cursoss]:checked').val();
        document.getElementById("id_curso").value = aux;
        document.getElementById("cambiar_curso_btn").style.display = "block";
        document.getElementById("msg_advertencia").style.display = "block";
    });

    function show_table(){
        var x = document.getElementById("select_cc").value;
        console.log(x);
        //Mostrar Cambiar Curso
        if (x == 1){
            document.getElementById("contenido_cambiar_curso").style.display = "block";
            document.getElementById("msg_advertencia_egreso").style.display = "none";
            document.getElementById("msg_advertencia").style.display = "none";
            document.getElementById("cambiar_curso_btn").style.display = "none";
            document.getElementById("egresar_btn").style.display = "none";
        //Esconder Cambiar Curso
        } else {
            document.getElementById("contenido_cambiar_curso").style.display = "none";
            document.getElementById("msg_advertencia").style.display = "none";
            document.getElementById("cambiar_curso_btn").style.display = "none";
        }
    }

    function show_egres(){
        var x = document.getElementById("select_eg").value;
        //Mostrar Egresar
        if (x == 1){
            document.getElementById("contenido_cambiar_curso").style.display = "none";
            document.getElementById("msg_advertencia_egreso").style.display = "block";
            document.getElementById("egresar_btn").style.display = "block";
            document.getElementById("cambiar_curso_btn").style.display = "none";
        }else{
            document.getElementById("cambiar_curso_btn").style.display = "none";
            document.getElementById("msg_advertencia_egreso").style.display = "none";
            document.getElementById("egresar_btn").style.display = "none";
        }
    }

    function cambiar_curso(){
        var r = confirm("¿Cambiar el Curso ?");
        if (r == true) {
            var myForm = document.getElementById('form_cambiar_curso');
            formData = new FormData(myForm);
            $.ajax({
                url: '{% url 'cambiar_curso' %}',
                data : formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    document.getElementById("esconder_resultado").style.display = "none";
                    document.getElementById("cambiar_curso_btn").style.display = "none";
                    document.getElementById("cerrar_btn").style.display = "none";
                    var element = document.getElementById("titulo");
                    element.innerHTML = "Cambio Realizado con exito.";
                    document.getElementById("resultado").innerHTML = data.resultado;
                    document.getElementById("volver_btn").style.display = "block";
                }
            });
        } else {
            return;
        }
    }

    function egresar_alumno(){
        var r = confirm("¿Egresar al Alumno ?");
        if (r == true) {
            var myForm = document.getElementById('pedido_egreso');
            formData = new FormData(myForm);
            $.ajax({
                url: '{% url 'pedido_egreso' %}',
                data : formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    document.getElementById("cerrar_btn").style.display = "none";
                    document.getElementById("esconder_resultado").style.display = "none";
                    document.getElementById("egresar_btn").style.display = "none";
                    document.getElementById("volver_btn").style.display = "block";
                    document.getElementById("resultado").innerHTML = data.resultado;
                }
           });
        } else {
            return;
        }
    }

</script>
