<div class="modal-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title"><strong>Pedido de Egreso de {{alumno.nombre|title}}</strong></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">

            <span id="msg_advertencia_egreso">Esta seguro de que desea egresar al alumno {{alumno.nombre|title}} {{alumno.apellido|title}}?</span>
            <form id="form_for_egreso" method="post">
                {% csrf_token %}
                <input name="dni_alumno" id="dni_alumno" type="hidden" value="{{alumno.dni}}">
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-success" onclick="egresar()">Egresar</button>
        </div>
    </div>
</div>
