{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}


  <form method="post" enctype="multipart/form-data" action="{% url 'crear_alumno' %}" id="form_alumno">
  {% csrf_token %}
  <div class='row'>
    <div class="card text-center" style="width: 30%; height: 77%; margin-left: 3%">
    <div class="card-body">
    <h4 class="card-title">Datos personales</h4>

        <ul class="list-group list-group-flush">

          <li class="list-group-item">

            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -12px; height: 31px;" class="input-group-text" id="inputGroup-sizing-sm">Nombre:</span>
                </div>
                <div style="margin-left: 44px; margin-top: -30px; height: 30px;">{{ form.nombre }}</div>
            </div>

            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -11px; height: 31px;" class="input-group-text" id="inputGroup-sizing-sm">Apellido:</span>
                </div>
                <div style="margin-left: 45px; margin-top: -30px; height: 30px;">{{ form.nombre }}</div>
            </div>

          </li>

        </ul>

    </div>
  </form> 
  <button class="btn btn-success" align="center" type="submit">Cargar</button>

{% endblock body %}