<html>

    <style type="text/css">
        .asd{
            width:50%;
            margin-top: 1%;
        }
        /* Center the loader */
        #loader {
          background-repeat: repeat;
          background-size: contain;
          z-index: 1;
          margin-left: 10%;
          width: 100%;
          height: 100%;
          background-image: url(media/loading.gif)
        }
        #myDiv {
          display: none;
          text-align: center;
        }
    </style>
        <head>
            {% load static %}
            <meta http-equiv="Content-type" content="text/html; charset=utf-8" >

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <link rel="stylesheet" href="{% static 'img' %}">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script type="text-javascript" src="{% static 'js/function.js'%}"></script>

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByp7LMa69SI-fNylGU5IRax4d0S8ox5NQ&callback=initMap"></script>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



        </head>
        <body onload="myFunction()" style="margin:0; background-color: #F0F0F0">
            <div id="loader"></div>
            <div style="display:none;" id="myDiv" class="animate-bottom">

            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">

                        {% block navbar %}
                        {% endblock navbar%}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MATRICULAR</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class="dropdown-item" href="{% url 'form' %}">Alumno</a>
                                <a class="dropdown-item" href="{% url 'formProfesor' %}">Docente</a>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'biblioteca' %}">BIBLIOTECA</a>
                        </li>
                    </ul>
                </div>

                <div class="mx-auto order-0">
                    <a class="navbar-brand mnonex-auto" href="{% url 'index' %}">ZORRILLA</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse w-100">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'cursos1' %}">CURSOS</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">OPCIONES DE SESION
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="{% url 'mi_perfil' %}">Ver perfil</a>
                                                <a class="dropdown-item" href="{% url 'logout_me_out' %}">Cerrar sesion</a>
                                            </div>
                                    </li>
                            {% else %}
                                <a class="btn btn-outline-success my-2 my-sm-0 " href="{% url 'logIn' %}">DOCENTES</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>

{% load poll_extras %}


{% if user.is_authenticated %}
    <div id="accordion" align="center" style="width: 40%; margin-left: 30%; margin-top: 5%">
      <div class="card">
        <div class="card-header btn collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">
          <h5 class="mb-0">
            <a>Alumnos</a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            {% if request.user|has_group:"Secretaria" %}
            <a href="{% url 'form' %}" class="btn btn-success asd">Agregar alumnos</a>
            <br>
            <br>
            <a href="{% url 'traer_pedidos' %}" class="btn btn-primary asd">Matricular alumnos</a>
            <br>
            <br>
            {% endif %}
            <a href="{% url 'cursos1' %}" class="btn btn-danger asd">Ver alumnos</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="headingTwo">
          <h5 class="mb-0">
            <a>Docentes</a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            {% if request.user|has_group:"Secretaria" %}
            <a href="{% url 'formProfesor' %}" class="btn btn-success asd">Agregar docente</a>
            <br>
            <br>
            <a href="{% url 'template_email_docente' %}" class="btn btn-primary asd">Matricular docente</a>
            <br>
            <br>
            {% endif %}
            {% if request.user|has_group:"Secretaria" or request.user|has_group:"Director" %}
            <a href="{% url 'docentes' %}" class="btn btn-danger asd">Ver docentes</a>
            {% endif %}
            {% if request.user|has_group:"Profesor" %}
                <a href="{% url 'modificar_profesor' %}" class="btn btn-success asd">Modificar Datos</a>
            {% endif %}
        </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="headingThree">
          <h5 class="mb-0">
            <a>Biblioteca</a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <a href="{% url 'biblioteca' %}" class="btn btn-danger asd">Ver Biblioteca</a>
            {% if request.user|has_group:"Secretaria" or request.user|has_group:"Director" %}
                <br>
                <br>
                <a href="{% url 'estadisticas' %}" class="btn btn-primary asd">Estadisticas</a>
            {% endif %}
        </div>
      </div>
    </div>

{% else %}

    <div class="parallax">
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-1 font-weight-bold text-center text-white" style="margin-top: 6%;">Primario Zorrilla</h1>

            <button class="btn btn-light btn-lg  d-block mx-auto " onclick="scrollWin()" style="width: 20%; margin-top: 10%;">Ver Mas</button>

        </div>

    <div class="parallax_blur">
        <br>
        <br>
        <br>

        <div class="row justify-content-around">
            
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front" >
                        <!-- front content -->
                        <div style="width: 150%;">
                            <img class="card-img-top" src="{% static "img/3zorrilla.jpeg" %}" alt="card image">
                        </div>
                    </div>
                    <div class="back" >
                        <!-- back content -->
                        <div style="background-color: white">
                            <p class="card-text" style="text-align: justify">Juan Zorrilla de San Martín (Montevideo, 28 de diciembre de 1855 - 3 de noviembre de 1931) fue un escritor, periodista, docente y diplomático uruguayo.
                                Junto a su hermano Alejandro, en 1865 fue llevado por su padre a cursar sus estudios en el Colegio de la Inmaculada Concepción de Santa Fe, República Argentina. Entre 1867 y 1872 estudió en el Colegio de los Padres Bayoneses, en Montevideo, lugar en el que comenzó sus estudios universitarios. Se recibió de bachiller en Santa Fe, en 1872. Entre 1874 y 1877 estudió en el Colegio de los Padres Jesuitas de Santiago de Chile hasta completar sus estudios como Licenciado en Letras y Ciencias Políticas. En ese período colaboró en la redacción de “La estrella de Chile” y publicó “Notas de un Himno”. En Chile recibió la influencia de las lecturas románticas de José Zorrilla, José de Espronceda y sobre todo, Gustavo Adolfo Bécquer.
                            </p>
                            <a href="https://es.wikipedia.org/wiki/Juan_Zorrilla_de_San_Mart%C3%ADn" class="btn btn-info " style=" align-self: center">Info Button</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card text-white bg-primary  text-center p-2" style="width: 35%;">
                <div class="card-header">INFORMACION</div>
                <div class="card-body">
                    <h5 class="card-title">Telefonos</h5>
                    <h6>Cecilia: 73456321</h6>
                    <h6>Roberto: 54623245</h6>
                    <br>
                    <h5 class="card-title">Mails</h5>
                    <h6>nose@gmail.com</h6>
                    <h6>nose2@gmail.com</h6>
                    <br>
                    <h5>Ubicacion</h5>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    <br>
    <br>
    </div>
{% endif %}

<script>
function scrollWin() {
    window.scrollBy(0, 730)
}

function initMap() {
        var uluru = {lat: -31.3729118, lng: -64.2350452};
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: uluru
    });
    var marker = new google.maps.Marker({
        position: uluru,
        map: map
    });
    }
var myVar;

function myFunction() {
    myVar = setTimeout(showPage, 1500);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>


</div>
</body>
</html>
