<div style="width:2500%; margin-left: -30%" class="modal-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{{alumno.nombre|title}} {{alumno.apellido|title}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <form id="form_for_curso" method="post">
            {% csrf_token %}
            <div class="modal-body">

                <!-- Select Curso -->
        <div class='row'>
            <div class="card text-center" style="width: 45%; margin-left: 4%">
                <div class="card-body">
                <h4>Curso</h4>
                <select class="btn btn-outline-dark" id="curso" onchange="selectCurso(event)">
                    <option value=0>Opciones</option>
                    {% for curso in cursos %}
                    <option value={{curso.id}}>{{curso}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- Select Familiar -->
        <div class="card text-center" style="width: 45%; margin-left: 2%">
            <div class="card-body">
                <h4>Familiares</h4>
                {% if familiares|length == 0 %}
                <select class="btn btn-outline-dark" id="padress" onchange="show_padres()">
                    <option value=0>No</option>
                    <option value=1>Si</option>
                </select>
                <br>
                <br>
                <div id="btn_asignar_padre2" class="hidden_idv">
                    <a class="btn btn-outline-dark" onclick="traer('{% url 'todos_los_padres_asignar' alumno.dni %}')">Asignar Padre</a>
                    <br>
                    <br>
                </div>
                {% else %}
                {% for familiar in familiares %}
                <a class="btn btn-info" style="margin-top: 1%;" href="{% url 'datos_padre' familiar.padre_madre.dni %}">{{familiar.padre_madre.nombre|title}} {{familiar.padre_madre.apellido|title}}</a>
                <br>
                {% endfor %}
                <br>
                <div id="new_padre">
                    <a class="btn btn-danger" href="{% url 'padres_del_alumno' alumno.dni %}">Desvincular</a>
                    <a class="btn btn-success" style="margin-top: 1%; color: white" onclick="traer('{% url 'todos_los_padres_asignar' alumno.dni %}')">Asignar</a>
                </div>
                {% endif %}
                </div>  
            </div>
            <div class="card text-center" style="width: 45%; margin-left: 4%">
                <div class="card-body">
                <!-- Select Autorizado -->

                <h4>Autorizados</h4>
                {% if autorizados|length == 0 %}
                <select class="btn btn-outline-dark" id="autorizado" onchange="show_autorizados()">
                    <option value=0>No</option>
                    <option value=1>Si</option>
                </select>
                <br>
                <br>
                <div id="btn_asignar_autorizado" class="hidden_idv">
                    <a class="btn btn-outline-dark" onclick="traer('{% url 'todos_los_autorizados_asignar' alumno.dni %}')">Asignar Autorizado</a>
                    <br>
                    <br>
                </div>
                {% else %}
                {% for autorizado in autorizados %}
                <a class="btn btn-info" style="margin-top: 1%;" href="{% url 'datos_autorizado' autorizado.autorizado.dni %}">{{autorizado.autorizado.apellido|title}} {{autorizado.autorizado.nombre|title}}</a>
                <br>
                {% endfor %}
                <br>
                <a class="btn btn-danger" href="{% url 'autorizados_del_alumno' alumno.dni %}">Desvincular</a>
                <a class="btn btn-success" style="margin-top: 1%; color: white" onclick="traer('{% url 'todos_los_autorizados_asignar' alumno.dni %}')">Asignar</a>
                {% endif %}
            </div>
                </div>
                <div class="card text-center" style="width: 45%; margin-left: 2%">
            <div class="card-body">
                <!-- Select Transporte -->

                <h4>Transporte</h4>
                {% if transportistas|length == 0 %}
                <select class="btn btn-outline-dark" id="transporte" onchange="show_transportistas()">
                    <option value=0>No</option>
                    <option value=1>Si</option>
                </select>
                <br>
                <br>
                <div id="btn_asignar_transporte" class="hidden_idv">
                    <a class="btn btn-outline-dark" onclick="traer('{% url 'todos_los_transportistas_asignar' alumno.dni %}')">Asignar Transportista</a>
                    <br>
                    <br>
                </div>
                {% else %}
                {% for transportista in transportistas %}
                <a class="btn btn-info" style="margin-top: 1%;" href="{% url 'datos_transportista' transportista.transportista.dni %}">{{transportista.transportista.apellido|title}} {{transportista.transportista.nombre|title}}</a>
                <br>
                {% endfor %}
                <br>
                <a class="btn btn-danger" href="{% url 'transportistas_del_alumno' alumno.dni %}">Desvincular</a>
                <a class="btn btn-success" style="margin-top: 1%; color: white" onclick="traer('{% url 'todos_los_transportistas_asignar' alumno.dni %}')">Asignar</a>
                {% endif %}
                </div>
            </div>
            <div class="card text-center" style="width: 45%; margin-left: 4%">
                <div class="card-body">
                <!-- Select Obra Social -->

                <h4>Obra Social</h4>
                {% if obras_sociales|length == 0 %}
                <select class="btn btn-outline-dark" id="obrass" onchange="show_obras()">
                    <option value=0>No</option>
                    <option value=1>Si</option>
                </select>
                <br>
                <br>
                <div id="btn_asignar_obra" class="hidden_idv">
                    <a class="btn btn-outline-dark" onclick="traer('{% url 'asignar_obra' alumno.dni %}')">Asignar Obra Social</a>
                    <br>
                    <br>
                </div>
                {% else %}
                {% for obra_social in obras_sociales %}
                    <a class="btn btn-info" style="margin-top: 1%;">{{obra_social.obra_social.nombre|title}}</a>
                <br>
                {% endfor %}
                <br>
                <div id="new_obra">
                    <a class="btn btn-danger" href="{% url 'obras_sociales_del_alumno' alumno.dni %}">Desvincular</a>
                <a class="btn btn-success" style="margin-top: 1%; color: white" onclick="traer('{% url 'asignar_obra' alumno.dni %}')">Asignar</a>
                </div>
            {% endif %}
            </div>


            <input name="select_curso" id="select_curso" value=0  type="hidden">
            <input name="dni_alumno" id="dni_alumno" type="hidden" value="{{alumno.dni}}">
        </div>
            </div>

        </form>
    <!-- Modal footer -->
        <div>
            <button type="button" style="margin-top: -18%; margin-left: 65%" class="btn btn-success" id="btn_matricular" onclick="matricular()">Matricular</button>
        </div>  
</div>
