{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}
<br>
<div class="text-center">
<h1 >Modificar Datos</h1>
</div>

<form method="POST" enctype="multipart/form-data" id="form_editar_alumno" action="{% url 'aplicar_cambios_alumno' %}">
    {% csrf_token %}
    <div class='row' style="margin-top:2%">
        <div class="card text-center" style="width: 26%; margin-left: 6%">
            <div class="card-body">
                <h4 class="card-title">Datos personales</h4>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 300%;">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Nombre:</span>
                            </div>
                            <div style="margin-left: -5.5%;">{{alumno_form.nombre}}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 300%;">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Apellido:</span>
                            </div>
                            <div style="margin-left: -5.5%;">{{alumno_form.apellido}}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 300%;">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Lugar de nacimiento:</span>
                            </div>
                            <div style="margin-left: -5.5%;">{{alumno_form.lugar_nacimiento}}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 100%;">
                                <span  class="input-group-text" id="inputGroup-sizing-sm">Fecha de nacimiento:</span>
                            </div>
                            <br>
                            <div id="a"  style="margin-left: -5.5%;">{{alumno_form.fecha_nacimiento}}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 300%;">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Domicilio:</span>
                            </div>
                            <br>
                            <div style="margin-left: -5.5%;">{{alumno_form.domicilio}}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div style="margin-right: 300%;" class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Email:</span>
                            </div>
                            <br>
                            <div style="margin-left: -0.5%;">{{ alumno_form.email }}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 300%;">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Sexo:</span>
                            </div>
                            <div style="margin-left: -0.5%;">{{ alumno_form.sexo }}</div>
                            
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <div class="card text-center" style="width: 26%; margin-left: 5%">
            <div class="card-body">
                <h4 class="card-title">Datos de Contacto</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 300%;">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Telefono de la casa:</span>
                            </div>
                            <div style="margin-left: -0.5%;">{{ alumno_form.telefono_casa }}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 300%;">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Telefono del padre:</span>
                            </div>
                            <div style="margin-left: -0.5%;">{{ alumno_form.telefono_padre }}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 300%;">
                                <span  class="input-group-text" id="inputGroup-sizing-sm">Telefono de la madre:</span>
                            </div>
                            <div style="margin-left: -0.5%;">{{ alumno_form.telefono_madre }}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 300%;">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Telefono de un familiar:</span>
                            </div>
                            <div style="margin-left: -0.5%;">{{ alumno_form.telefono_familiar }}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 300%;">
                                <span  class="input-group-text" id="inputGroup-sizing-sm">Telefono de un vecino:</span>
                            </div>
                            <br>
                            <div style="margin-left: -0.5%;">{{ alumno_form.telefono_vecino }}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 300%;">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Telefono de quien lo trae:</span>
                            </div>
                            <br>
                            <div style="margin-left: -0.5%;">{{ alumno_form.telefono_que_lo_trae }}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card text-center" style="width: 26%; margin-left: 5%">
            <div class="card-body">
                <h4 class="card-title">Otros</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 300%;">
                                <span  class="input-group-text" id="inputGroup-sizing-sm">Enfermedad relevante:</span>
                            </div>
                            <div style="margin-left: -5.5%;">{{ alumno_form.enfermedad_relevante }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 300%;">
                                <span  class="input-group-text" id="inputGroup-sizing-sm">Con quien vive:</span>
                            </div>
                            <br>
                            <div style="margin-left: -5.5%;">{{ alumno_form.con_quien_vive }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend" style="margin-right: 300%;">
                                <span  class="input-group-text" id="inputGroup-sizing-sm">Quien lo trae:</span>
                            </div>
                            <br>
                            <div style="margin-left: -5.5%;">{{ alumno_form.quien_lo_trae }}</div>
                        </div>
                        <br>
                        <br>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <input type="hidden" name="dni" id="dni" value={{dni_alumno}}>
</form>

<center><button class="btn btn-success" onclick="modificar()" style="width:30%;">Editar</button></center>

<div class="modal fade" id="modAlumno" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar Alumno:</h5>
            </div>
            <div class="container-fluid">
                <div class="modal-body row">
                    <span style="margin-left:5%">Resultado: </span><span id="resultado"></span>
                    <div style="margin-top:5%" id="loader_resultado" class="loader"></div>
                </div>
                <div class="modal-footer" id="footer">
                    <a type="button" class="btn btn-primary" id="continuar" href="{% url 'datos_alumno' 'curso' dni_alumno %}">Continuar</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="cerrar">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function modificar(){
        if (confirm("¿Editar los Datos del Alumno ?")) {
            var myForm = document.getElementById('form_editar_alumno');
            formData = new FormData(myForm);
            document.getElementById("resultado").innerHTML = "";
            document.getElementById("continuar").style.display = "none";
            document.getElementById("cerrar").style.display = "none";
            document.getElementById("loader_resultado").style.display = "block";
            $('#modAlumno').modal('show');
            $.ajax({
                url: '{% url 'aplicar_cambios_alumno' %}',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    document.getElementById("loader_resultado").style.display = "none";
                    document.getElementById("resultado").innerHTML = data.resultado;
                    console.log(data.resultado);
                    if (data.error){
                        document.getElementById("cerrar").style.display = "block";
                        document.getElementById("continuar").style.display = "none";
                    } else {
                        document.getElementById("cerrar").style.display = "none";
                        document.getElementById("continuar").style.display = "block";
                    }
                }
            });
        } else {
            return;
        }
    }

</script>

{% endblock body %}
