{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<br>
<div class="row" id="students">

    {% for m in matriculaciones %}

	  	<div class="card text-center" style="width:20%; margin-left: 3%">
	    <div class="card-body">
	      	<h4 class="card-title">{{m.alumno.nombre}} {{m.alumno.apellido}}</h4>
	      	<ul class="list-group list-group-flush">
	       	 	<li class="list-group-item">DNI: {{m.alumno.dni}}</li>
	        	<li class="list-group-item">Fecha de nacimiento: {{m.alumno.fecha_nacimiento}}</li>
	      	</ul>
	    	<br>
	    	<a class="btn btn-outline-dark" href="{% url 'alumno' m.alumno.dni %}">Ver mas</a>
	      	<a onclick="aceptar_matriculacion('{% url 'aceptar_matriculacion' m.id %}', {{m.id}})" class="btn btn-outline-dark">Matricular</a>
	    </div>
	    <div class="card-footer">
	      	<small class="text-muted">Fecha de pedido: {{m.fecha_matriculacion|date:"d/M/Y"}}</small>
	    </div>
	 	</div>

  	{% endfor %}
</div>

<div id="snackbar"><span id="span_result"></span></div>
    


<script>

    function updateDiv()
    {
      $( "#students" ).load(window.location.href + " #students" );
    }
    
    function aceptar_matriculacion(url, alum){
        $.ajax({
        method: "POST",
        url: url,
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
    })
    .done(function (data) {
        var y = document.getElementById("snackbar");
        y.className = "show";
        document.getElementById("span_result").innerHTML = data.estado;
        setTimeout(function(){ y.className = y.className.replace("show", ""); }, 4000);
        updateDiv();
    });
};


</script>

{% endblock body %}