{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<style>

    #myProgress {
        width: 100%;
        background-color: #ddd;
    }

    #myBar {
        width: 10%;
        height: 30px;
        background-color: #4CAF50;
        text-align: center;
        line-height: 30px;
        color: white;
    }

    div.hidden_idv {     /* this will hide div with class div_class_name */
        display:none;
    }
</style>

<br>
<div class="row" id="pedidos_matriculacion">

    {% for m in matriculaciones %}

    <div class="card text-center" style="width:20%; margin-left: 3%">
        <div class="card-body">
            <h4 class="card-title">{{m.alumno.nombre}} {{m.alumno.apellido}}</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">DNI: {{m.alumno.dni}}</li>
                <li class="list-group-item">Fecha de nacimiento: {{m.alumno.fecha_nacimiento}}</li>
            </ul>
            <br>
            <a class="btn btn-outline-dark" href="{% url 'datos_alumno' 'pedidos' m.alumno.dni %}">Ver mas</a>
            <a onclick="traer_secciones('{% url 'get_Secciones' m.alumno.dni %}, {{m.alumno.dni}}')" class="btn btn-outline-dark">Matricular</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">Fecha de pedido: {{m.fecha_matriculacion|date:"d/M/Y"}}</small>
        </div>
    </div>

    {% endfor %}

    {% for m in re_matricular %}

    <div class="card text-center " style="width:20%; margin-left: 3%">
        <div class="card-body">
            <h4 class="card-title">{{m.alumno.nombre}} {{m.alumno.apellido}}</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">DNI: {{m.alumno.dni}}</li>
                <li class="list-group-item">Fecha de nacimiento: {{m.alumno.fecha_nacimiento}}</li>
            </ul>
            <br>
            <a class="btn btn-outline-dark" href="{% url 'datos_alumno' m.alumno.dni %}">Ver mas</a>
            <a onclick="traer_secciones('{% url 're_matricular' m.alumno.dni %}, {{m.alumno.dni}}')" class="btn btn-outline-dark">Re Matricular</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">Fecha de pedido: {{m.fecha_matriculacion|date:"d/M/Y"}}</small>
        </div>
    </div>

    {% endfor %}
</div>

{% if matriculaciones|length == 0 and re_matricular|length == 0 %}

    <h2><center>No hay ningun pedido</center></h2>

{% endif %}


<div class="modal fade" id="modal_cursos">
    <div class="modal-dialog modal-sm">
        <div id="datos_modal">
        </div>
    </div>
</div>

<div class="modal fade" id="todas_las_instancias">
    <div class="modal-dialog modal-lg">
        <div id="datos">
        </div>
    </div>
</div>

<div class="modal fade" id="Modal_resultado" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Matriculando Alumno:</h5>
            </div>
            <div class="container-fluid">
                <div class="modal-body row">
                    <p class="col-sm-2">Resultado: </p><span style='visibility:hidden;'>..</span>
                    <div class="col-sm-9">
                        <div id="myProgress">
                            <p id="myBar" value="10%"></p>
                        </div>
                    </div>
                    <span id="resultado"></span>
                </div>
                <div class="modal-footer" id="footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="close_modal()" id="volver">Continuar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="reload" action="{% url 'traer_pedidos' %}">
</form>

<script>

    function refresh_p(){
        var des = document.getElementById("reload");
        des.submit();
    }

    function traer_secciones(url, alum){
        $.ajax({
            method: "POST",
            url: url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        })
            .done(function (data) {
            $("#datos_modal").html(data);
            $('#modal_cursos').modal('show');
        });
    }

    function sleep() {
        return new Promise(resolve => setTimeout(resolve, 1000));
    }

    async function footer(a){
        var elem = document.getElementById("myBar");
        var width = 10;
        var id = setInterval(frame, 10);
        function frame() {
            if (width >= 100) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width + '%';
                elem.innerHTML = width * 1  + '%';
            }
        }
        await sleep();
        elem.style.display = "none";
        var resultado = document.getElementById("resultado");
        resultado.innerHTML = a;
        return a

    }

    function matricular(){
        var curso_elegido = document.getElementById('select_curso');
        if (curso_elegido.value == 0){
            alert("Selecciona un Curso");
        } else {
            if (confirm("¿ Matricular al Alumno ?")) {
                var myForm = document.getElementById('form_for_curso');
                formData = new FormData(myForm);
                var elem = document.getElementById("myBar");
                elem.style.display = "block";
                var resultado = document.getElementById("resultado");
                resultado.innerHTML = "";
                var y = document.getElementById("volver");
                y.style.display = "none";
                $('#Modal_resultado').modal('show');
                $.ajax({
                    url: '{% url 'aceptar_matriculacion' %}',
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function(data){
                    $('#modal_cursos').modal('hide');
                    footer(data.resultado);
                    y.style.display = "block";
                }
                       });
            } else {
                return;
            }
        }
    }

    function re_matricular(){
        var curso_elegido = document.getElementById('select_curso2');
        if (curso_elegido.value == 0){
            alert("Selecciona un Curso");
        } else {
            if (confirm("¿ Re Matricular al Alumno ?")) {
                var myForm = document.getElementById('form_for_re_matricular');
                formData = new FormData(myForm);
                $.ajax({
                    url: '{% url 'aceptar_re_matriculacion' %}',
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function(data){
                        $('#modal_cursos').modal('hide');
                        alert(data.resultado);
                        refresh_p();
                    }
                });
            } else {
                return;
            }
        }
    }


    function traer(url){
        $.ajax({
            method: "POST",
            url: url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        })
            .done(function (data) {
            $("#datos").html(data);
            $('#modal_cursos').modal('hide');
            $('#todas_las_instancias').modal('show');
        });
    }

    function curso(e) {
        document.getElementById("selected_curso").value = e.target.value
    }

    function close_modal(){
        $('#Modal_resultado').modal('hide');
        var aux = document.getElementById("reload")
        aux.submit();
    }

    function show_transportistas(){
        var div_trans = document.getElementById("btn_asignar_transporte");
        var e = document.getElementById("transporte").value;
        if (e == 1) {
            div_trans.style.display = "block";
        } else {
            div_trans.style.display = "none";
        }
    }

    function selectCurso(e) {
        document.getElementById("select_curso").value = e.target.value
    }

    function show_autorizados(){
        var div_trans = document.getElementById("btn_asignar_autorizado");
        var e = document.getElementById("autorizado").value;
        if (e == 1) {
            div_trans.style.display = "block";
        } else {
            div_trans.style.display = "none";
        }
    }

    function show_padres(){
        var div_trans = document.getElementById("btn_asignar_padre2");
        var e = document.getElementById("padress").value;
        if (e == 1) {
            div_trans.style.display = "block";
        } else {
            div_trans.style.display = "none";
        }
    }

    function show_obras(){
        var div_trans = document.getElementById("btn_asignar_obra");
        var e = document.getElementById("obrass").value;
        if (e == 1) {
            div_trans.style.display = "block";
        } else {
            div_trans.style.display = "none";
        }
    }

    function show_transportistas2(){
        var div_trans = document.getElementById("btn_asignar_transporte2");
        var e = document.getElementById("transporte2").value;
        if (e == 1) {
            div_trans.style.display = "block";
        } else {
            div_trans.style.display = "none";
        }
    }

    function selectCurso2(e) {
        document.getElementById("select_curso2").value = e.target.value
    }

    function show_autorizados2(){
        var div_trans = document.getElementById("btn_asignar_autorizado2");
        var e = document.getElementById("autorizado2").value;
        if (e == 1) {
            div_trans.style.display = "block";
        } else {
            div_trans.style.display = "none";
        }
    }

    function show_padres2(){
        var div_trans = document.getElementById("btn_asignar_padre2");
        var e = document.getElementById("padress2").value;
        if (e == 1) {
            div_trans.style.display = "block";
        } else {
            div_trans.style.display = "none";
        }
    }

    function show_obras2(){
        var div_trans = document.getElementById("btn_asignar_obra2");
        var e = document.getElementById("obrass2").value;
        if (e == 1) {
            div_trans.style.display = "block";
        } else {
            div_trans.style.display = "none";
        }
    }
</script>

{% endblock body %}
