{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

{% load poll_extras %}
<br>
<h1 class="card-title" align="center">{{alumno.nombre}} {{alumno.apellido}}</h1>
<br>
<div class='row' id="datos_div">
    <div class="card text-center" style="width: 30%; height: 67%; margin-left: 3%">
        <div class="card-body">

            <h4 class="card-title">Datos personales</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Dni: {{alumno.dni}}</li>
                <li class="list-group-item">Lugar nacimiento: {{alumno.lugar_nacimiento}}</li>
                <li class="list-group-item">Fecha de nacimiento: {{alumno.fecha_nacimiento}}</li>
                <li class="list-group-item">Domicilio: {{alumno.fecha_nacimiento}}</li>
                <li class="list-group-item">Email: {{alumno.email}}</li>
                <li class="list-group-item">Sexo: {{alumno.sexo}}</li>
            </ul>
        </div>
    </div>

    <div class="card text-center" style="width: 30%; margin-left: 2%">
        <div class="card-body">
            <h4 class="card-title">Datos de contacto</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Telefono fijo: {{alumno.telefono_casa}}</li>
                <li class="list-group-item">Padres:
                    {% if alumno.familiares == "No"%}
                    <a onclick="traer_instancias('{% url 'todos_los_padres' alumno.dni %}')">Asignar Padre.</a>
                    {% else %}
                    <a href="{% url 'padres_del_alumno' alumno.dni %}">Ver Padres.</a></li>
                {% endif %}
                <li class="list-group-item">Telefono del padre: {{alumno.telefono_padre}}</li>
                <li class="list-group-item">Telefono de familiar: {{alumno.telefono_familiar}}</li>
                <li class="list-group-item">Telefono de vecino: {{alumno.telefono_vecino}}</li>
                <li class="list-group-item">Con quien vive: {{alumno.con_quien_vive}}</li>
                <li class="list-group-item">Autorizados: {{alumno.autorizados}}</li>
                <li class="list-group-item">Quien lo trae: {{alumno.quien_lo_trae}}</li>
                <li class="list-group-item">Telefono: {{alumno.telefono_que_lo_trae}}</li>
                <li class="list-group-item">Utiliza transporte:
                    {% if alumno.transporte == "No"%}
                    <a onclick="traer_instancias('{% url 'todos_los_transportistas' alumno.dni %}')">Asignar Transportista.</a>
                    {% else %}
                    <a href="{% url 'transportistas_del_alumno' alumno.dni %}">Ver Transportistas.</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

    <div class="card text-center" style="width: 30%; height: 43%;margin-left: 2%">
        <div class="card-body">
            <h4 class="card-title">Datos medicos</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Enfermedades: {{alumno.enfermedad_relevante}}</li>
                <li class="list-group-item">Obra social:
                    {% if alumno.obra_social == "No"%}
                    <a onclick="traer_instancias('{% url 'todas_las_obras_sociales' alumno.dni %}')">Asignar Obra Social.</a>
                    {% else %}
                    <a href="{% url 'obras_sociales_del_alumno' alumno.dni %}">Ver Obras Sociales.</a>
                    {% endif %}</li>
                <li class="list-group-item">Matriculado:
                    {% if alumno.matriculado == "No"%}
                        {{alumno.matriculado}}
                    {% else %}
                        <a onclick="traer_instancias('{% url 'modificar_curso' alumno.dni %}')">Cambiar Curso</a>
                    {% endif %}</li>
            </ul>
        </div>
    </div>
</div>
<br>

<div class="modal fade" id="todas_las_instancias">
    <div class="modal-dialog modal-lg">
        <div id="datos_instancias">
        </div>
    </div>
</div>

<form action="{% url 'datos_alumno' alumno.dni%}" method="post" id="pa">
    {% csrf_token %}
</form>


<div class="centerB">
    {% if request.user|has_group:"Secretaria" %}

    <a href="{% url 'modificar_alumno' alumno.dni %}"class="btn btn-primary centerB">Modificar Datos del Alumno.</a>

    {% endif %}
    <a href="{% url 'cursos1' %}" class="btn btn-primary centerB">Volver</a>
</div>

<script>

    function traer_instancias(url){
        console.log(url);
        $.ajax({
            method: "POST",
            url: url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        })
            .done(function (data) {
                $("#datos_instancias").html(data);
                $('#todas_las_instancias').modal('show');
        });
    }

    function refresh_p(){
        var des = document.getElementById("pa");
        des.submit();
    }

    $('input[name=obra_sociall]').click(function() {
        var aux = $('input[name=obra_sociall]:checked').val();
        document.getElementById("id_obra_social").value = aux
        document.getElementById("asignar_o").style.display = "block";
        document.getElementById("asignar_obra_btn").style.display = "block";
    });

</script>

{% endblock body %}
