{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<form id="form_re_matricular" method="post">
    {% csrf_token %}
    <p>Dni del Alumno:</p>{{re_matricular_form.dni_alumno}}
    <p>Dni del Padre:</p>{{re_matricular_form.dni_padre}}
    <p>Email del Alumno:</p>{{re_matricular_form.email_padre}}
</form>

<button onclick="re_matricular()">Enviar</button>

<script>

    function re_matricular(){
        if (confirm("¿Solicitar pedido de Re Matriculacion ?")) {
            var myForm = document.getElementById('form_re_matricular');
            formData = new FormData(myForm);
            $.ajax({
                url: '{% url 'pedido_re_matricular' %}',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    alert(data.resultado)
                }
            });
        } else {
            return;
        }
    }

</script>

{% endblock body %}
