<div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Datos de {{alumno.nombre}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

      <!-- Modal body -->
        <form id="form_for_curso" method="post">
            {% csrf_token %}
            <div class="modal-body">
                <h4><u>Curso</u></h4>
                <span class="badge badge-secondary">Cursos:</span>
                <select id="curso" onchange="selectCurso(event)">
                    <option value=0>----</option>
                    {% for curso in cursos %}
                        <option value={{curso.id}}>{{curso}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <h4><u>Familiares</u></h4>
                <ul>
                {% for familiar in familiares %}
                    <li><a href="{% url 'datos_padre' familiar.padre_madre.dni %}">{{familiar.padre_madre.nombre}} {{familiar.padre_madre.apellido}}</a></li>
                {% endfor %}
                </ul>
                <div id="new_padre">
                    <a onclick="traer_padres('{% url 'todos_los_padres' alumno.dni %}')">Asignar Padre.</a>
                </div>
                
                <h4><u>Transporte</u></h4>
                {% if transportistas|length == 0 %}
                    <span class="badge badge-secondary">Opciones:</span>
                    <select id="transporte" onchange="use_transporte(event)">
                        <option value=0>No</option>
                        <option value=1>Si</option>
                    </select>
                    <br>
                    <br>
                    <div id="new_transporte">
                        <a onclick="traer_transportistas('{% url 'todos_los_transportistas' alumno.dni %}')">Asignar Transportista.</a>
                    </div>
                {% else %}
                <ul>
                {% for transportista in transportistas %}
                    <li><a href="{% url 'datos_transportista' transportista.transportista.dni %}">{{transportista.transportista.apellido}} {{transportista.transportista.nombre}}</a></li>
                {% endfor %}
                    <br>
                    <li><a onclick="traer_transportistas('{% url 'todos_los_transportistas' alumno.dni %}')"><u>Asignar otro Transportista</u></a></li>
                </ul>

                {% endif %}


                <h4><u>Obra Social</u></h4>

                <span class="badge badge-secondary">Opciones:</span>
                <select name="obra_social" onchange="obra_social(event)">
                    <option value="No">No</option>
                    <option value="Si">Si</option>
                </select>
                <br>
                <br>
                <a onclick="traer_transportistas()">Elegir Obra Social</a>

                <!-- Inputs con los datos elegidos para el alumno -->
                <input name="select_curso" id="select_curso" value=0  type="hidden">
                <input name="dni_alumno" id="dni_alumno" type="hidden" value="{{alumno.dni}}">

            </div>
        </form>
        <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" onclick="matricular()">Matricular</button>
            </div>
    </div>
</div>

<script>

    function selectCurso(e) {
        document.getElementById("select_curso").value = e.target.value
    }

</script>
