<html>

    <head>
    
        <title> Crear Alumno </title>
        
    </head>
    
    <body>
    
        <form id="form_alumno">
            {% csrf_token %}
            {{ form.nombre }}<br>
            {{ form.apellido }}<br>
            {{ form.dni }}<br>
            {{ form.lugar_nacimiento }}<br>
            {{ form.fecha_nacimiento }}<br>
            {{ form.sexo }}<br>
            {{ form.telefono_casa }}<br>
            {{ form.telefono_padre }}<br>
            {{ form.telefono_madre }}<br>
            {{ form.telefono_familiar }}<br>
            {{ form.telefono_vecino }}<br>
            {{ form.enfermedad_relevante }}<br>
            {{ form.con_quien_vive }}<br>
            {{ form.telefono_que_lo_trae }}<br>
            {{ form.utiliza_transporte }}<br>
            {{ form.tiene_obra_social }}<br>
            {{ form.obra_social_nombre }}<br>
            {{ form.obra_social_numero }}<br>
            <button type="submit">Upload</button>
        </form>
        
    </body>

</html>