{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{%url 'cursos1'%}">Home</a></li>
        <li class="breadcrumb-item"><a>{{curso.año}}</a></li>
        <li class="breadcrumb-item"><a>{{curso.seccion}}</a></li>
        <li class="breadcrumb-item "aria-current="page">{{curso.turno}}</li>
    </ol>
</nav>
<table class="table">
    <thead class="thead-dark">
    <tr>
    <th>Dni</th>
    <th>Apellido y Nombre</th>
    <th>Fecha de Nacimiento</th>
    <th>Telefonos</th>
    <th>Datos Personales</th>
    <th>Informe Alumno</th>
    </tr>
    </thead>
    <tbody>
        {% for alumno in todos_los_alumnos %}
    <tr>
        <td>{{alumno.dni}}</td>
        <td>{{alumno.apellido|title}} {{alumno.nombre|title}}</td>
        <td>{{alumno.fecha_nacimiento}}</td>
        <td><button class="btn btn-primary" onclick="get_alumno('{% url 'get_alumno' 'telefonos' alumno.dni %}')" id="info_book"><i style="font-size:15px" class="fa">&#xe182;</i></button></td>
        <td><button class="btn btn-primary" onclick="get_alumno('{% url 'get_alumno' 'otros' alumno.dni %}')" id="info_book"><i style="font-size:15px" class="fa">&#xe182;</i></button></td>
        <td><a class="btn btn-primary" href="{% url 'datos_alumno' alumno.dni %}" id="info_book"><i style="font-size:15px" class="fa">&#xe182;</i></a></td>
    </tr>
        {% endfor %}
    </tbody>
</table>

    <div class="modal fade" id="modal_info">
        <div id="datos_modal">
        </div>
    </div>

<script>

    function get_alumno(url, alum){
        $.ajax({
          method: "POST",
          url: url,
          data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
          }
        })
        .done(function (data) {
            $("#datos_modal").html(data);
            $('#modal_info').modal('show');
        });
    }

</script>

{% endblock body %}
