{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>
<table class="table">
    <thead class="thead-dark">
    <tr>
    <th>Turnos</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td><a href="{%url 'cursos2' 'Maniana' %}">Mañana</a></td>
    </tr>
    <tr>
    <td><a href="{%url 'cursos2' 'Tarde' %}">Tarde</a></td>
    </tr>
    </tbody>
</table>

{% endblock body %}