{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{%url 'cursos1'%}">Home</a></li>
        <li class="breadcrumb-item " aria-current="page">{{turno}}</li>
    </ol>
</nav>
<table class="table">
    <thead class="thead-dark">
    <tr>
    <th>Grados</th>
    </tr>
    </thead>
    <tbody>
    {% for grado in todos_los_grados %}
    <tr>
        <td><a href="{% url 'cursos3' grado.id %}">{{grado.aNo}} de turno {{grado.turno_asignado.que_hora}}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock body %}
