<div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Datos de {{alumno.apellido}} {{alumno.nombre}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

      <!-- Modal body -->
        <div class="modal-body">
            <span class="badge badge-secondary">Apellido:</span><div class="alert alert-secondary" role="alert">{{alumno.apellido}}</div>
            <span class="badge badge-secondary">Nombre:</span><div class="alert alert-secondary" role="alert">{{alumno.nombre}}</div>
            <span class="badge badge-secondary">Dni:</span><div class="alert alert-secondary" role="alert">{{alumno.dni}}</div>
            <span class="badge badge-secondary">Telefono Casa:</span><div class="alert alert-secondary" role="alert">{{alumno.telefono_casa}}</div>
            <span class="badge badge-secondary">Telefono Padre:</span><div class="alert alert-secondary" role="alert">{{alumno.telefono_padre}}</div>
            <span class="badge badge-secondary">Telefono Casa:</span><div class="alert alert-secondary" role="alert">{{alumno.telefono_madre}}</div>
            <span class="badge badge-secondary">Telefono Del que lo Trae:</span><div class="alert alert-secondary" role="alert">{{alumno.telefono_que_lo_trae}}</div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>

    </div>
</div>
