<div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Datos de {{alumno.apellido}} {{alumno.nombre}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

      <!-- Modal body -->
        <div class="modal-body">
            <span class="badge badge-secondary">Apellido:</span><div class="alert alert-secondary" role="alert">{{alumno.apellido}}</div>
            <span class="badge badge-secondary">Nombre:</span><div class="alert alert-secondary" role="alert">{{alumno.nombre}}</div>
            <span class="badge badge-secondary">Dni:</span><div class="alert alert-secondary" role="alert">{{alumno.dni}}</div>
            <span class="badge badge-secondary">Domicilio:</span><div class="alert alert-secondary" role="alert">{{alumno.domicilio}}</div>
            <span class="badge badge-secondary">Telefono Casa:</span><div class="alert alert-secondary" role="alert">{{alumno.telefono_casa}}</div>
            <span class="badge badge-secondary">Telefono Padre:</span><div class="alert alert-secondary" role="alert">{{alumno.telefono_padre}}</div>
            <span class="badge badge-secondary">Telefono Casa:</span><div class="alert alert-secondary" role="alert">{{alumno.telefono_madre}}</div>
            <span class="badge badge-secondary">Telefono Del que lo Trae:</span><div class="alert alert-secondary" role="alert">{{alumno.telefono_que_lo_trae}}</div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>

    </div>
</div>

    nombre = models.CharField('Nombre', max_length=40)
    apellido = models.CharField('Apellido', max_length=40)
    dni = models.IntegerField('Dni', primary_key=True)
    lugar_nacimiento = models.CharField('Lugar de Nacimiento', max_length=150, blank=True)
    fecha_nacimiento = models.DateField('Fecha de nacimiento', default="2000-10-10")
    domicilio = models.CharField('Domicilio', max_length=150, blank=True)
    email = models.EmailField('Email', max_length=70, blank=True)
    sexo = models.BooleanField('Sexo', null = False)
