{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br>
<br>


<center><h2>DOCENTES</h2></center>

<div style="margin-left: 2%; width: 94%">
    <div class="row">
        <input type="text"placeholder="Docente que desee buscar" id="input" onkeyup="filtrado()">
        <select style="height: 5%" class="selectpicker btn btn-outline" id="filter_by">
            <option value=0>Nombre</option>
            <option value=1>Apellido</option>
            <option value=2>DNI</option>
        </select>


        <div class="col-md-12">
            <h4></h4>
            <div class="table-responsive">


                <table id="mytable" class="table table-hover">

                    <thead class="thead">
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Email</th>
                        <th>Sexo</th>
                        <th>Datos</th>
                    </thead>
                    {% for p in profesores %}
                    <tbody>

                        <tr>
                            <td>{{p.nombre_t|title}}</td>
                            <td>{{p.apellido_t|title}}</td>
                            <td>{{p.dni_t}}</td>
                            <td>{{p.email_t}}</td>
                            <td>{{p.sexo_t}}</td>
                            <td><a href="{% url 'profesor' p.dni_t %}" class="btn btn-outline-info">Abrir</a></td>
                        </tr>

                    </tbody>
                    {% endfor %}

                </table>

                <div id="snackbar"><span id="span_result"></span></div>

            </div>

        </div>

    </div>
</div>

<script>

    function filtrado() {
        var e = document.getElementById("filter_by");
        var strUser = e.options[e.selectedIndex].value;
        var input, filter, table, tr, td, i;
        input = document.getElementById("input");
        filter = input.value.toUpperCase();
        table = document.getElementById("mytable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[strUser];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

{% endblock body %}
