{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}



<div class="card mx-auto" style="width: 35%; margin-top: 5%">
    <form method="POST" id=login_form>
        <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">
                <input class="form-group" type="hidden" value={{clave.clave}} id="claveDoc" name="claveDoc">
                <p>Clave Única:</p><p id="asdf">{{clave.clave}}</p>
            </h4>
            <hr>
            <p class="text-success text-center"></p>
            {% csrf_token %}
            <div class="form-row">
                <label class="form_biblo col-sm-4">Email:</label>
                <div class="form-group">
                    {{form.email_docente}}
                </div>
                <br>
                <label class="form_biblo col-sm-4">Dni:</label>
                <div class="form-group" id="sub">
                    {{form.dni_docente}}
                </div>
            </div>
        </article>
    </form>
    <button class="btn btn-success btn-block mx-auto" align="center" onclick="send_key()">Enviar</button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Enviando Clave</h5>
            </div>
            <div class="modal-body">
                <p>Estado:</p><span id="email_encontrado"></span>
            </div>
            <div class="modal-footer" id="footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="index()">Continuar</button>
            </div>
        </div>
    </div>
</div>

<form id="index" action="{% url 'index' %}"></form>

<script>

    var input = document.getElementById("sub");
    input.addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            send_key();
        }
    });

    function send_key(){
        var myForm = document.getElementById('login_form');
        formData = new FormData(myForm);
        var x = document.getElementById("footer");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        $('#myModal').modal('show');
        $.ajax({
            url: '/email_for_logIn/',
            data: formData,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data){
                if (data.error){
                    document.getElementById("email_encontrado").innerHTML = data.resultado;
                    setTimeout(4000);
                    $('#myModal').modal('hide');
                }else{
                    x.style.display = "block";
                    document.getElementById("email_encontrado").innerHTML = data.resultado;
                }
            }
        });
    }

    function index(){
        $('#index').submit()
    }

</script>
{% endblock body %}
