{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<div class="card mx-auto" style="width: 35%; margin-top: 5%">
    <form method="POST" id=login_form>
        <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">
                <input class="form-group" type="hidden" value={{clave.clave}} id="claveDoc" name="claveDoc">
                <p>Clave Única:</p><p id="asdf">{{clave.clave}}</p>
            </h4>
            <hr>
            <p class="text-success text-center"></p>
            {% csrf_token %}
            <div class="form-row">
                <label class="form_biblo col-sm-4">Email:</label>
                <div class="form-group">
                    {{form.email_docente}}
                </div>
                <br>
                <label class="form_biblo col-sm-4">Dni:</label>
                <div class="form-group" id="sub">
                    {{form.dni_docente}}
                </div>
            </div>
        </article>
    </form>
    <button class="btn btn-success btn-block mx-auto" align="center" onclick="send_key()">Enviar</button>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Envio de Clave.</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <span style="margin-left:5%">Resultado:</span><span id="resultado"></span>
                <div style="margin-top:5%" id="loader_resultado" class="loader"></div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" id="continuar" href="{% url 'index' %}">Continuar</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="cerrar">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script>

    var input = document.getElementById("sub");
    input.addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            send_key();
        }
    });


    function send_key(){
        if (confirm("¿Mandar clave ?")) {
            var myForm = document.getElementById('login_form');
            formData = new FormData(myForm);
            $('#myModal').modal('show');
            document.getElementById("resultado").innerHTML = "";
            document.getElementById("continuar").style.display = "none";
            document.getElementById("cerrar").style.display = "none";
            document.getElementById("loader_resultado").style.display = "block";
            $.ajax({
                url: '{% url 'email_for_logIn' %}',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    document.getElementById("loader_resultado").style.display = "none";
                    document.getElementById("resultado").innerHTML = data.resultado;
                    console.log(data.error);
                    if (data.error){
                        document.getElementById("continuar").style.display = "none";
                        document.getElementById("cerrar").style.display = "block";
                    } else {
                       document.getElementById("resultado").innerHTML = data.resultado;
                        document.getElementById("continuar").style.display = "block";
                        document.getElementById("cerrar").style.display = "none";
                    }
                }
            });
        } else {
            return;
        }
    }

</script>
{% endblock body %}
