{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<style type="text/css">
  input{
    width: 128%
  }
  #a{
    width:81%
  }
   textarea {
    width: 100%;
    height: 60%;
  }
</style>

  <form method="post" enctype="multipart/form-data" id="form_alumno">
  {% csrf_token %}
  <div class='row' style="margin-top:2%">
    <div class="card text-center" style="width: 26%; margin-left: 6%">
    <div class="card-body">
    <h4 class="card-title">Datos personales</h4>

        <ul class="list-group list-group-flush">

          <li class="list-group-item">

            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -16%;" class="input-group-text" id="inputGroup-sizing-sm">Nombre:</span>
                </div>
                <div style="margin-left: -9%;">{{ form.nombre_t }}</div>
            </div>

            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -15%;" class="input-group-text" id="inputGroup-sizing-sm">Apellido:</span>
                </div>
                <div style="margin-left: -9%;">{{ form.apellido_t }}</div>
            </div>

            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -4%;" class="input-group-text" id="inputGroup-sizing-sm">Numero de documento:</span>
                </div>
                <div style="margin-left: -2.4%; margin-top: 0%;">{{ form.dni_t }}</div>
            </div>

            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Fecha de nacimiento:</span>
                </div>
                <div style="margin-left: -2%" id="a">{{ form.fecha_nacimiento_t }}</div>
            </div>

            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Lugar de nacimiento:</span>
                </div>
                <div style="margin-left: -8%">{{ form.lugar_nacimiento_t }}</div>
            </div>

            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Domicilio:</span>
                </div>
                <br>
                <div id="a"  style="margin-left:-6.5%">{{ form.domicilio_t }}</div>
            </div>
            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Sexo:</span>
                </div>
                <br>
                <div style="margin-left:-1%">{{ form.sexo_t }}</div>
            </div>
          </li>

        </ul>
      </div>

    </div>

    <div class="card text-center" style="width: 26%; height:70% ;margin-left: 5%">
    <div class="card-body" >
    <h4 class="card-title">Datos de Contacto</h4>

        <ul class="list-group list-group-flush">

          <li class="list-group-item">

            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -9%;" class="input-group-text" id="inputGroup-sizing-sm">Telefono particular:</span>
                </div>
                <div style="margin-left: -5%;">{{ form.telefono_particular }}</div>
            </div>

            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -9%;" class="input-group-text" id="inputGroup-sizing-sm">Telefono laboral:</span>
                </div>
                <div style="margin-left: -5%;">{{ form.telefono_laboral }}</div>
            </div>

            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -9%;" class="input-group-text" id="inputGroup-sizing-sm">Telefono de un familiar:</span>
                </div>
                <div style="margin-left: -5%; margin-top: 0%;">{{ form.telefono_familiar }}</div>
            </div>
            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -22%;" class="input-group-text" id="inputGroup-sizing-sm">Email:</span>
                </div>
                <br>
                <div style="margin-left:-2.129999%">{{ form.email_t }}</div>
            </div>
     </div>
   </div>
    <div class="card text-center" style="width: 26%; margin-left: 5%">
    <div class="card-body">
    <h4 class="card-title">Datos Laborales</h4>

        <ul class="list-group list-group-flush">

          <li class="list-group-item">

            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -8%;" class="input-group-text" id="inputGroup-sizing-sm">Estudios cursados:</span>
                </div>
                <div id="b" style="margin-left: -4%;">{{ form.estudios_cursados }}</div>
            </div>
            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -7.5%;" class="input-group-text" id="inputGroup-sizing-sm">Antecedentes laborales:</span>
                </div>
                <br>
                <div style="margin-left:-5%">{{ form.antecedentes_laborales }}</div>
            </div>
            <div class="input-group input-group-sm mb-3 form-group">
                <div class="input-group-prepend">
                  <span style="margin-left: -7.5%;" class="input-group-text" id="inputGroup-sizing-sm">Clave Unica:</span>
                </div>
                <br>
                <input style="margin-left: 0px; height: 31px" type="text" class="form-control" aria-label="Small" value="" aria-describedby="inputGroup-sizing-sm" id="profesor_clave" name="profesor_clave">
            </div>
          </li>
        </ul>
      </div>
    </div>
    </div>

  </form> 
  <center><button onclick="crear_Profesor()" class="btn btn-success" style="width:30%">Cargar</button></center>
      <div id="snackbar"><span id="span_result"></span></div>
      
    <script>
      
      function crear_Profesor(){
        var myForm = document.getElementById('form_alumno');
        formData = new FormData(myForm);
        $.ajax({
            url: 'login/',
            data: formData,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data){
                console.log(data.error);
                if (data.error){
                    var y = document.getElementById("snackbar");
                    y.className = "show";
                    document.getElementById("span_result").innerHTML = data.estado;
                    setTimeout(function(){ y.className = y.className.replace("show", ""); }, 2000);
                }else{
                    
                }
            }
        });
    }

      
      </script>

{% endblock body %}