{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<style type="text/css">
    input{
        width: 250px;
    }
    #a{
        widows: 250px;
    }
    textarea {
        width: 250px;
        height: 30px;
    }
</style>

<form method="post" enctype="multipart/form-data" id="form_docente">
    {% csrf_token %}
    <div class='row' style="margin-top:2%">
        <div class="card text-center" style="width: 370px; margin-left: 40px">
            <div class="card-body" >
                <h4 class="card-title">Datos personales</h4>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-right: 300%;" class="input-group-text" id="inputGroup-sizing-sm">Nombre:</span>
                            </div>
                            <div style="margin-left: -13px; margin-top: 5px">{{ form.nombre_t }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-right: 300%;" class="input-group-text" id="inputGroup-sizing-sm">Apellido:</span>
                            </div>
                            <div style="margin-left: -13px; margin-top: 5px">{{ form.apellido_t }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-right: 300%;" class="input-group-text" id="inputGroup-sizing-sm">Numero de documento:</span>
                            </div>
                            <div style="margin-left: -2px; margin-top: 5px;">{{ form.dni_t }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-right: 300%;" class="input-group-text" id="inputGroup-sizing-sm">Fecha de nacimiento:</span>
                            </div>
                            <div style="margin-left: 3px; margin-top: 5px" id="a">{{ form.fecha_nacimiento_t }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-right: 300%;" class="input-group-text" id="inputGroup-sizing-sm">Lugar de nacimiento:</span>
                            </div>
                            <div style="margin-left: -13px; margin-top: 5px">{{ form.lugar_nacimiento_t }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-right: 300%;" class="input-group-text" id="inputGroup-sizing-sm">Domicilio:</span>
                            </div>
                            <br>
                            <div id="a"  style="margin-left:-12px; margin-top: 5px">{{ form.domicilio_t }}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-right: 300%;" class="input-group-text" id="inputGroup-sizing-sm">Sexo:</span>
                            </div>  
                            <br>
                            <div style="margin-left:-1px">{{ form.sexo_t }}</div>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <div class="card text-center" style="width: 370px; height:67%; margin-left: 40px">
            <div class="card-body" >
                <h4 class="card-title">Datos de Contacto</h4>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -9%;" class="input-group-text" id="inputGroup-sizing-sm">Telefono particular:</span>
                            </div>
                            <div style="margin-left: -5%; margin-top: 5px">{{ form.telefono_particular }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -9%;" class="input-group-text" id="inputGroup-sizing-sm">Telefono laboral:</span>
                            </div>
                            <div style="margin-left: -5%; margin-top: 5px">{{ form.telefono_laboral }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -9%;" class="input-group-text" id="inputGroup-sizing-sm">Telefono de un familiar:</span>
                            </div>
                            <div style="margin-left: -5%; margin-top: 5px;">{{ form.telefono_familiar }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -9%;" class="input-group-text" id="inputGroup-sizing-sm">Datos familiares a cargo:</span>
                            </div>
                            <div style="margin-left: -5%; margin-top: 5px;; height:50%">{{ form.datos_familiares_cargo }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -10%;" class="input-group-text" id="inputGroup-sizing-sm">Correo electronico:</span>
                            </div>
                            <br>
                            <div style="margin-left:-5%; margin-top: 5px">{{ form.email_t }}</div>
                        </div>
                    </div>
            </div>
            <div class="card text-center" style="width: 370px; margin-left: 40px">
                <div class="card-body">
                    <h4 class="card-title">Datos Laborales</h4>

                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">

                            <div class="input-group input-group-sm mb-3 form-group">
                                <div class="input-group-prepend">
                                    <span style="margin-left: -8%;" class="input-group-text" id="inputGroup-sizing-sm">Estudios cursados:</span>
                                </div>
                                <div id="b" style="margin-left: -4%;; height:50%; margin-top: 5px">{{ form.estudios_cursados }}</div>
                            </div>
                            <div class="input-group input-group-sm mb-3 form-group">
                                <div class="input-group-prepend">
                                    <span style="margin-left: -7.5%;" class="input-group-text" id="inputGroup-sizing-sm">Antecedentes laborales:</span>
                                </div>
                                <br>
                                <div style="margin-left:-5%; height:50%; margin-top: 5px">{{ form.antecedentes_laborales }}</div>
                            </div>
                            <div class="input-group input-group-sm mb-3 form-group">
                                <div class="input-group-prepend">
                                    <span style="margin-left: -7.5%;" class="input-group-text" id="inputGroup-sizing-sm">Clave Unica:</span>
                                </div>
                                <br>
                                <input style="margin-left: 0px; height: 50%" type="text" class="form-control" aria-label="Small" value="" aria-describedby="inputGroup-sizing-sm" id="profesor_clave" name="profesor_clave">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        </form>
    <center><button onclick="crear_Profesor()" class="btn btn-success" style="width:30%">Cargar</button></center>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Matriculando Docente:</h5>
                </div>
                <div class="container-fluid">
                    <div class="modal-body row">
                        <p class="col-sm-2">Resultado: </p><span style='visibility:hidden;'>..</span>
                    <span id="resultado"></span>
                </div>
                <div class="modal-footer" id="footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="login()" id="continuar">Continuar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="close_modal()" id="volver">Volver</button>
                </div>
            </div>
        </div>
    </div>

    <form id="login" action="{% url 'logIn' %}"></form>

    <script>

        var input = document.getElementById("profesor_clave");
        input.addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                crear_Profesor();
            }
        });

        function crear_Profesor(){
            if (confirm("¿Cargar Datos ?")) {
                var myForm = document.getElementById('form_docente');
                formData = new FormData(myForm);
                $('#myModal').modal('show');
                $.ajax({
                    url: '{% url 'crear_profesor' %}',
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function(data){
                        console.log(data.error);
                        document.getElementById("resultado").innerHTML = data.resultado;
                    }
                });
            } else {
                return;
            }
        }

        function close_modal(){
            $('#myModal').modal('hide');
        }

        function login(){
            $('#login').submit()
        }

    </script>

    {% endblock body %}
