{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<style type="text/css">
    input{
        width: 128%
    }
    #a{
        width:81%
    }
    textarea {
        width: 100%;
        height: 30%;
    }
</style>
<br>
<center><h3>Editar Perfil</h3></center>
<form method="post" enctype="multipart/form-data" id="form_trabajador">
    {% csrf_token %}
    <div class='row' style="margin-top:2%">
        <div class="card text-center" style="width: 370px; margin-left: 4%">
            <div class="card-body">
                <h4 class="card-title">Datos personales</h4>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -16%;" class="input-group-text" id="inputGroup-sizing-sm">Nombre:</span>
                            </div>
                            <div style="margin-left: -9%; margin-top: 5px">{{ form.nombre_t }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -15%;" class="input-group-text" id="inputGroup-sizing-sm">Apellido:</span>
                            </div>
                            <div style="margin-left: -9%; margin-top: 5px">{{ form.apellido_t }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Fecha de nacimiento:</span>
                            </div>
                            <div style="margin-left: -8%; margin-top: 5px" id="a">{{ form.fecha_nacimiento_t }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Lugar de nacimiento:</span>
                            </div>
                            <div style="margin-left: -8%; margin-top: 5px">{{ form.lugar_nacimiento_t }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Domicilio:</span>
                            </div>
                            <br>
                            <div id="a"  style="margin-left:-6.5%; margin-top: 5px">{{ form.domicilio_t }}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Sexo:</span>
                            </div>
                            <br>
                            <div style="margin-left:-1%">{{ form.sexo_t }}</div>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <div class="card text-center" style="width: 370px; height:67%; margin-left: 4%">
            <div class="card-body" >
                <h4 class="card-title">Datos de Contacto</h4>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -9%;" class="input-group-text" id="inputGroup-sizing-sm">Telefono particular:</span>
                            </div>
                            <div style="margin-left: -5%; margin-top: 5px">{{ form.telefono_particular }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -9%;" class="input-group-text" id="inputGroup-sizing-sm">Telefono laboral:</span>
                            </div>
                            <div style="margin-left: -5%; margin-top: 5px">{{ form.telefono_laboral }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -9%;" class="input-group-text" id="inputGroup-sizing-sm">Telefono de un familiar:</span>
                            </div>
                            <div style="margin-left: -5%; margin-top: 5px">{{ form.telefono_familiar }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -9%;" class="input-group-text" id="inputGroup-sizing-sm">Datos familiares a cargo:</span>
                            </div>
                            <div style="margin-left: -5%; margin-top: 5px; height:50%">{{ form.datos_familiares_cargo }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -10%;" class="input-group-text" id="inputGroup-sizing-sm">Correo electronico:</span>
                            </div>
                            <br>
                            <div style="margin-left:-5%; margin-top: 5px">{{ form.email_t }}</div>
                        </div>
                    </div>
            </div>
            <div class="card text-center" style="width: 370px; margin-left: 4%">
                <div class="card-body">
                    <h4 class="card-title">Datos Laborales</h4>

                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">

                            <div class="input-group input-group-sm mb-3 form-group">
                                <div class="input-group-prepend">
                                    <span style="margin-left: -8%;" class="input-group-text" id="inputGroup-sizing-sm">Estudios cursados:</span>
                                </div>
                                <div id="b" style="margin-left: -4%; margin-top: 5px; height:50%">{{ form.estudios_cursados }}</div>
                            </div>
                            <div class="input-group input-group-sm mb-3 form-group">
                                <div class="input-group-prepend">
                                    <span style="margin-left: -7.5%;" class="input-group-text" id="inputGroup-sizing-sm">Antecedentes laborales:</span>
                                </div>
                                <br>
                                <div style="margin-left:-5%;margin-top: 5px; height:50%">{{ form.antecedentes_laborales }}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <input name="dni_user" id="dni_user" value={{trabajador.dni_t}} type="hidden">
    <input name="trabajo" id="trabajdo" value={{trabajador.cargo_t}} type="hidden">

</form>

<center><button onclick="modal_perfil()" class="btn btn-success" style="width:30%">Editar Datos</button></center>


<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="display: none;" id="titulo">Modificar Perfil</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p id="msg_confirm" align="center">¿Modificar Perfil ?</p>
                <span style="margin-left:0%" id="resultado_span">Resultado: </span><span style="margin-left:0%" id="resultado"></span>
                <div style="margin-left:35%;margin-top:-12.5%" id="loader_resultado" class="loader"></div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="cancelar">Cancelar</button>
                <button onclick="modificar_perfil()" class="btn btn-primary" id="aceptar">Aceptar</button>
                <a type="button" style="display: none;" class="btn btn-success" href="{% url 'mi_perfil' %}" id="continuar">Continuar</a>
                <button type="button" style="display: none;" class="btn btn-primary" data-dismiss="modal" id="volver">Volver</button>
            </div>
        </div>
    </div>
</div>


<script>


    function modal_perfil(){
        $("#titulo").hide();
        $("#resultado_span").hide();
        $("#resultado").html("");
        $("#loader_resultado").hide();
        $("#continuar").hide();
        $("#volver").hide();
        $("#msg_confirm").show();
        $("#aceptar").show();
        $("#cancelar").show();
        $('#myModal').modal('show');
    }

    function modificar_perfil(){
        $("#titulo").show();
        $("#resultado_span").show();
        $("#msg_confirm").hide();
        $("#loader_resultado").show();
        $("#aceptar").hide();
        $("#cancelar").hide();
        var myForm = document.getElementById('form_trabajador');
        formData = new FormData(myForm);
        $.ajax({
            url: '{% url 'modificar_datos_perfil' %}',
            data : formData,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data){
                $("#loader_resultado").hide();
                if (data.error){
                    $("#resultado").html(data.resultado);
                    $("#continuar").hide();
                    $("#volver").show();
                }else{
                    $("#resultado").html(data.resultado);
                    $("#continuar").show();
                    $("#volver").hide();
                }
            }
        });

    }
</script>

{% endblock body %}
