{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}
{% load poll_extras %}

<br>
<h1 class="card-title" align="center">Datos de {{trabajador.nombre_t}} {{trabajador.apellido_t}}</h1>
{% csrf_token %}

<div class='row'>
    <div class="card text-center" style="width: 370px; margin-left: 50px">
        <div class="card-body">
            <h4 class="card-title">Datos personales</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">DNI: {{trabajador.dni_t}}</li>
                <li class="list-group-item">Lugar nacimiento: {{trabajador.lugar_nacimiento_t}}</li>
                <li class="list-group-item">Fecha de nacimiento: {{trabajador.fecha_nacimiento_t}}</li>
                <li class="list-group-item">Domicilio: {{trabajador.domicilio_t}}</li>
                <li class="list-group-item">Email: {{trabajador.email_t}}</li>
                <li class="list-group-item">Sexo: {{trabajador.sexo_t}}</li>
            </ul>
        </div>
    </div>

    <div class="card text-center" style="width: 370px; height:45%; margin-left: 50px">
        <div class="card-body">
            <h4 class="card-title">Datos de contacto</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Telefono particular: {{trabajador.telefono_particular}}</li>
                <li class="list-group-item">Telefono laboral: {{trabajador.telefono_laboral}}</li>
                <li class="list-group-item">Telefono de familiar: {{trabajador.telefono_familiar}}</li>
                <li class="list-group-item">Datos de familiar: {{trabajador.datos_familiares_cargo}}</li>
            </ul>
        </div>
    </div>

    <div class="card text-center" style="width: 370px; height:45%;margin-left: 50px">
        <div class="card-body">
            <h4 class="card-title">Datos laborales</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Estudios: {{trabajador.estudios_cursados}}</li>
                <li class="list-group-item">Fecha de inicio: {{trabajador.fecha_inicio_actividad}}</li>
                <li class="list-group-item">Antecedentes laborales: {{trabajador.antecedentes_laborales}}</li>
            </ul>
        </div>
    </div>
</div>
<br>
<center><button type="button" class="btn btn-info" onclick="location.href='{% url 'docentes' %}'">Volver</button></center>
{% endblock body %}
