{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}
{% load poll_extras %}

<br>
<h1 class="card-title" align="center">{{trabajador.nombre_t}} {{trabajador.apellido_t}}</h1>

{% if request.user|has_group:"Profesor" %}

<form id="modify_teacher" method="post">
    {% csrf_token %}
    <div class='row'>
        <div class="card text-center" style="width: 30%; height: 77%; margin-left: 3%">
            <div class="card-body">
                <h4 class="card-title">Datos personales</h4>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                            </div>
                            <input style="margin-left: 0px; height: 31px;" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="profesor_nombre" name="profesor_nombre" value={{trabajador.nombre_t}}>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Apellido</span>
                            </div>
                            <input style="margin-left: 0px; height: 31px;" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="profesor_apellido" name="profesor_apellido" value={{trabajador.apellido_t}}>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">DNI</span>
                            </div>
                            <input style="margin-left: 0px; height: 31px;" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="profesor_dni" name="profesor_dni" value={{trabajador.dni_t}}>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Lugar nacimiento</span>
                            </div>
                            <input style="margin-left: 0px; height: 31px" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="profesor_lugar_nacimiento" name="profesor_lugar_nacimiento" value={{trabajador.lugar_nacimiento_t}}>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Fecha de nacimiento</span>
                            </div>
                            <input style="margin-left: 0px; height: 31px" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="profesor_fecha_nacimiento" name="profesor_fecha_nacimiento" value={{trabajador.fecha_nacimiento_t}}>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Domicilio</span>
                            </div>
                            <input style="margin-left: 0px; height: 31px" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="profesor_domicilio" name="profesor_domicilio" value={{trabajador.domicilio_t}}>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Sexo</span>
                            </div>
                            <input style="margin-left: 0px; height: 31px" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="profesor_mail" name="profesor_sexo" value={{trabajador.sexo_t}}>
                        </div>

                    </li>

                </ul>

            </div>
        </div>


        <div class="card text-center" style="width: 30%; height: 46%; margin-left: 2%">
            <div class="card-body">
                <h4 class="card-title">Datos de contacto</h4>
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Telefono particular</span>
                            </div>
                            <input style="margin-left: 0px; height: 31px;" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="profesor_telefono_particular_p" name="profesor_telefono_particular_p"
                                   value={{trabajador.telefono_particular}}>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Telefono laboral</span>
                            </div>
                            <input style="margin-left: 0px; height: 31px" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="profesor_telefono_laboral_p" name="profesor_telefono_laboral_p"
                                   value={{trabajador.telefono_laboral}}>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Telefono de familiar</span>
                            </div>
                            <input style="margin-left: 0px; height: 31px" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="profesor_telefono_familiar_p" name="profesor_telefono_familiar_p"
                                   value={{trabajador.telefono_familiar}}>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Datos de familiar</span>
                            </div>
                            <input style="margin-left: 0px; height: 31px" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="profesor_datos_familiares_cargo" name="profesor_datos_familiares_cargo"
                                   value={{trabajador.datos_familiares_cargo}}>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                            </div>
                            <input style="margin-left: 0px; height: 31px" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="profesor_mail" name="profesor_mail" value={{trabajador.email_t}}>
                        </div>

                    </li>

                </ul>

            </div>
        </div>

        <div class="card text-center" style="width: 30%; height: 46%; margin-left: 2%">
            <div class="card-body">
                <h4 class="card-title">Datos laborales</h4>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Estudios</span>
                            </div>
                            <input style="margin-left: 0px; height: 31px;" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="profesor_estudios_cursados" name="profesor_estudios_cursados"
                                   value={{trabajador.estudios_cursados}}>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Fecha de inicio</span>
                            </div>
                            <input style="margin-left: 0px; height: 31px" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="profesor_fecha_inicio_actividad" name="profesor_fecha_inicio_actividad"
                                   value={{trabajador.fecha_inicio_actividad}}>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Antecedentes laborales</span>
                            </div>
                            <input style="margin-left: 0px; height: 31px" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="profesor_antecedentes_laborales" name="profesor_antecedentes_laborales"
                                   value={{trabajador.antecedentes_laborales}}>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>
    <button class="btn btn-success" style="margin-left: 40%; width: 20%" align="center" type="submit">Modificar datos</button>
</form>

{% endif %}    
{% if request.user|has_group:"Secretaria" %}

<div class='row'>
    <div class="card text-center" style="width: 30%; margin-left: 3%">
        <div class="card-body">
            <h4 class="card-title">Datos personales</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">DNI: {{trabajador.dni_t}}</li>
                <li class="list-group-item">Lugar nacimiento: {{trabajador.lugar_nacimiento_t}}</li>
                <li class="list-group-item">Fecha de nacimiento: {{trabajador.fecha_nacimiento_t}}</li>
                <li class="list-group-item">Domicilio: {{trabajador.domicilio_t}}</li>
                <li class="list-group-item">Email: {{trabajador.email_t}}</li>
                <li class="list-group-item">Sexo: {{trabajador.sexo_t}}</li>
            </ul>
        </div>
    </div>

    <div class="card text-center" style="width: 30%; margin-left: 2%">
        <div class="card-body">
            <h4 class="card-title">Datos de contacto</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Telefono particular: {{trabajador.telefono_particular}}</li>
                <li class="list-group-item">Telefono laboral: {{trabajador.telefono_laboral}}</li>
                <li class="list-group-item">Telefono de familiar: {{trabajador.telefono_familiar}}</li>
                <li class="list-group-item">Datos de familia: {{trabajador.datos_familiares_cargo}}</li>
            </ul>
        </div>
    </div>

    <div class="card text-center" style="width: 30%; margin-left: 2%">
        <div class="card-body">
            <h4 class="card-title">Datos laborales</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Estudios: {{trabajador.estudios_cursados}}</li>
                <li class="list-group-item">Fecha de inicio: {{trabajador.fecha_inicio_actividad}}</li>
                <li class="list-group-item">Antecedentes laborales: {{trabajador.antecedentes_laborales}}</li>
                <!-- <li class="list-group-item">Antiguedad: {{trabajador.antiguedad_t}}</li> -->
            </ul>
        </div>
    </div>

</div>


{% endif %}    
{% endblock body %}
