<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <span>Autorizados:</span>
        </div>
        <!-- Modal body -->
        <div class="modal-body">

            <!-- Div con el contenido Base de la Tabla -->

            <div id="hide_for_c">
                {% if autorizados|length != 0%}
                <div id="hide_correct">
                    <input type="text"placeholder="Autorizado que desea buscar" id="inputAutorizado" onkeyup="buscar_autorizado()" size="5">
                    <select id="filter_by">
                        <option value=0>Nombre</option>
                        <option value=1>Apellido</option>
                        <option value=2>Dni</option>
                    </select>
                    <br>
                    <br>
                    <table class="table table-bordered" id="tabla_autorizados">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Dni</th>
                                <th>Opcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in autorizados %}
                            <tr>
                                <td>{{a.nombre}}</td>
                                <td>{{a.apellido}}</td>
                                <td>{{a.dni}}</td>
                                <td><input type="radio" id={{a.dni}} name="autorizadoss" value={{a.dni}}></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h3><center>No hay ningun Autorizado.</center></h3>
                {% endif %}
            </div>


            <span id="resultado_asignar_autorizado"></span>


            <!-- Div Asignar Autorizado -->

            <div id="asignar_o">
                <form id="asign_a" method="post">
                    {% csrf_token %}
                    <p>Relacion con {{alumno.nombre}}:</p>{{relacion_con_alumno.relacion_con_alumno}}
                    <input value={{alumno.dni}} id="dni_alumno" name="dni_alumno" type="hidden">
                    <input value=0 id="dni_autorizado" name="dni_autorizado" type="hidden">
                </form>
                <br>
            </div>

        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <a class="btn btn-primary centerB" href="{% url 'form_autorizado' %}" align="left" id="crear_btn">Crear Autorizado</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="cerrar_btn">Cerrar</button>
            <button type="button" class="btn btn-success" id="cont_autorizado" onclick="mandar_autorizado()">Asignar</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" id="volver_btn" onclick="refresh_p()">Continuar</button>
        </div>
    </div>
</div>

<script>


    document.getElementById("volver_btn").style.display = "none";
    document.getElementById("cont_autorizado").style.display = "none";
    document.getElementById("asignar_o").style.display = "none";

    $('input[name=autorizadoss]').click(function() {
        var aux = $('input[name=autorizadoss]:checked').val();
        document.getElementById("dni_autorizado").value = aux
        document.getElementById("cont_autorizado").style.display = "block";
        document.getElementById("asignar_o").style.display = "block";

    });

    function mandar_autorizado(){
        var r = confirm("¿Asignar este Autorizado ?");
        if (r == true) {
            var myForm = document.getElementById('asign_a');
            formData = new FormData(myForm);
            $.ajax({
                url: '{% url 'asignar_autorizado' %}',
                data : formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    document.getElementById("hide_for_c").style.display = "none";
                    document.getElementById("cerrar_btn").style.display = "none";
                    document.getElementById("cont_autorizado").style.display = "none";
                    document.getElementById("crear_btn").style.display = "none";
                    document.getElementById("asignar_o").style.display = "none";
                    document.getElementById("resultado_asignar_autorizado").innerHTML = data.resultado
                    document.getElementById("volver_btn").style.display = "block";
                }
            });
        } else {
            return;
        }
    }

    function buscar_autorizado() {
        var e = document.getElementById("filter_by");
        var strUser = e.options[e.selectedIndex].value;
        var input, filter, table, tr, td, i;
        input = document.getElementById("inputAutorizado");
        filter = input.value.toUpperCase();
        table = document.getElementById("tabla_autorizados");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[strUser];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
