{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<style>

    .table-wrapper-scroll-y {
      display: block;
      max-height: 200px;
      overflow-y: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

</style>

<br>
<div id="contenido">
    {% if autorizados|length != 0 %}

    <h3><center>Autorizados de {{alumno.apellido|title}} {{alumno.nombre|title}}.</center></h3>
    <br>

    <table class="table table-sm table-hover" id="tabla" align="center" style="width:50%">
        <tr>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Dni</th>
            <th>Relacion con {{alumno.nombre|title}}</th>
            <th>Desvincular</th>
            <th>Editar</th>
            <th>Info</th>
        </tr>
        {% for a in autorizados %}
        <tr>
            <td>{{a.autorizado.apellido|title}}</td>
            <td>{{a.autorizado.nombre|title}}</td>
            <td>{{a.autorizado.dni}}</td>
            <td>{{a.relacion_con_alumno|title}}</td>
            <td><button class="btn btn-warning" onclick="desvincular({{a.autorizado.dni}})"><i class="fa fa-ban"></i></button></td>
            <td><a class="btn btn-info" href="{% url 'form_editar_autorizado' a.autorizado.dni %}"><i class="fa fa-edit"></i></a></td>
            <td><a class="btn btn-primary" href="{% url 'datos_autorizado' a.autorizado.dni %}" id="info_book"><i style="font-size:15px" class="fa">&#xf129;</i></a></td>
        </tr>
        {% endfor %}

    </table>

    {% else %}

    <h3><center>{{alumno.apellido|title}} {{alumno.nombre|title}} no tiene ningun Autorizado.</center></h3>

    {% endif %}
</div>
<br>

<center>
    <button class="btn btn-success text-white centerB" onclick="traer_autorizados('{% url 'todos_los_autorizados_asignar' alumno.dni %}')">Cargar Autorizado</button>
    <a class="btn btn-primary centerB" href="{% url 'datos_alumno' alumno.dni %}">Volver</a>
    <a class="btn btn-primary centerB" href="{% url 'traer_pedidos' %}">Volver a Pedidos</a>
</center>

<div class="modal fade" id="todos_los_autorizados">
    <div class="modal-dialog modal-lg">
        <div id="datos_autorizado">
        </div>
    </div>
</div>

<form id="desvincular_autorizado" method="post" action="{% url 'desvincular_autorizado' %}">
    {% csrf_token %}
    <input type="hidden" value="{{alumno.dni}}" name="dni_alumno">
    <input type="hidden" value=0 name="dni_autorizado" id="dni_autorizado">
</form>

<form action="{% url 'autorizados_del_alumno' alumno.dni%}" method="post" id="tda">
    {% csrf_token %}
</form>

<script>

    function desvincular(dni_autorizado){
        if (confirm("¿Desvincular a este Autorizado ?")) {
            document.getElementById("dni_autorizado").value = dni_autorizado;
            var des = document.getElementById("desvincular_autorizado");
            des.submit();
        } else {
            return;
        }
    }

    function traer_autorizados(url){
        $.ajax({
            method: "POST",
            url: url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        })
            .done(function (data) {
            $("#datos_autorizado").html(data);
            $('#todos_los_autorizados').modal('show');
        });
    }


    function refresh_p(){
        var des = document.getElementById("tda");
        des.submit();
    }

</script>

{% endblock body %}
