{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<style type="text/css">
    input{
        width: 128%
    }
    #a{
        width:81%
    }
    textarea {
        width: 100%;
        height: 30%;
    }
</style>
<br>

<div id="c_autorizado">
    <form method="post" enctype="multipart/form-data" id="form_autorizado">
    {% csrf_token %}
    <div class='row' style="margin-top:2%">
        <div class="card text-center" style="width: 26%; height:35%; margin-left: 36.5%">
            <div class="card-body">
                <h4 class="card-title">Crear Autorizado</h4>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -16%;" class="input-group-text" id="inputGroup-sizing-sm">Nombre:</span>
                            </div>
                            <div style="margin-left: -9%;">{{ autorizado.nombre }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -15%;" class="input-group-text" id="inputGroup-sizing-sm">Apellido:</span>
                            </div>
                            <div style="margin-left: -9%;">{{ autorizado.apellido }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -4%;" class="input-group-text" id="inputGroup-sizing-sm">Numero de documento:</span>
                            </div>
                            <div style="margin-left: -2.4%; margin-top: 0%;">{{ autorizado.dni }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Fecha de nacimiento:</span>
                            </div>
                            <div style="margin-left: -8%" id="a">{{ autorizado.fecha_nacimiento}}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Lugar de nacimiento:</span>
                            </div>
                            <div style="margin-left: -8%">{{ autorizado.lugar_nacimiento }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Domicilio:</span>
                            </div>
                            <br>
                            <div id="a"  style="margin-left:-6.5%">{{ autorizado.domicilio }}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Sexo:</span>
                            </div>  
                            <br>
                            <div style="margin-left:-1%">{{ autorizado.sexo }}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Telefono:</span>
                            </div>  
                            <br>
                            <div style="margin-left:-1%">{{ autorizado.telefono_autorizado }}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Email:</span>
                            </div>
                            <br>
                            <div style="margin-left:-1%">{{ autorizado.email }}</div>
                        </div>

                    </li>

                </ul>
            </div>
        </div>
        </div>
    </form>

    <center><button onclick="crear_Autorizado()" class="btn btn-success" style="width:30%">Cargar</button></center>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Resultado</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <span id="resultado_crear_a"></span>
            </div>

            <div class="modal-footer" id="footer">
                <button type="button" style="display: none;" class="btn btn-success" onclick="volver_index()" id="continuar">Continuar</button>
                <button type="button" style="display: none;" class="btn btn-primary" data-dismiss="modal" id="volver">Volver</button>
            </div>
        </div>
    </div>
</div>

<form id="pedidos" action="{% url 'index' %}" method="post">
    {% csrf_token %}
</form>


<script>

    function crear_Autorizado(){
        if (confirm("¿Crear Autorizado ?")) {
            var myForm = document.getElementById('form_autorizado');
            formData = new FormData(myForm);
            $('#myModal').modal('show');
            $.ajax({
                url: '{% url 'crear_autorizado' %}',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    document.getElementById("resultado_crear_a").innerHTML = data.resultado;
                    if (data.error){
                        document.getElementById("continuar").style.display = "none";
                        document.getElementById("volver").style.display = "block";
                    }else{
                       document.getElementById("continuar").style.display = "block";
                        document.getElementById("volver").style.display = "none";
                    }
                }
            });
        } else {
            return;
        }
    }

    function volver_index(){
        var aux_form = document.getElementById("pedidos");
        aux_form.submit();
    }
    
</script>
{% endblock body %}
