{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<style type="text/css">
    input{
        width: 280px
    }
    #a{
        width:81%
    }
    textarea {
        width: 100px;
        height: 30%;
    }

    .loader {
        border: 6px solid #f3f3f3;
        border-radius: 50%;
        border-top: 6px solid #3498db;
        width: 30px;
        height: 30px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
<br>

<div id="c_autorizado">
    <form method="post" enctype="multipart/form-data" id="form_autorizado">
    {% csrf_token %}
    <input name="dni" id="dni" type="hidden" value={{dni}} >
    <div class='row' style="margin-top:2%">
        <div class="card text-center" style="width: 360px; height:auto; margin-left: 36.5%">
            <div class="card-body">
                {% if opcion == 'Crear'%}
                    <h4 class="card-title">Crear Autorizado</h4>
                {% else %}
                    <h4 class="card-title">Editar Autorizado</h4>
                {% endif %}
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -16%;" class="input-group-text" id="inputGroup-sizing-sm">Nombre:</span>
                            </div>
                            <div style="margin-left: -9%; margin-top: 5px">{{ autorizado.nombre }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -15%;" class="input-group-text" id="inputGroup-sizing-sm">Apellido:</span>
                            </div>
                            <div style="margin-left: -9%; margin-top: 5px">{{ autorizado.apellido }}</div>
                        </div>
                        {% if opcion == 'Crear'%}
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -4%;" class="input-group-text" id="inputGroup-sizing-sm">Numero de documento:</span>
                            </div>
                            <div style="margin-left: -2.4%; margin-top: 5px;">{{ autorizado.dni }}</div>
                        </div>
                        {% endif %}
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Fecha de nacimiento:</span>
                            </div>
                            <div style="margin-left: -8%; margin-top: 5px" id="a">{{ autorizado.fecha_nacimiento}}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Lugar de nacimiento:</span>
                            </div>
                            <div style="margin-left: -8%; margin-top: 5px">{{ autorizado.lugar_nacimiento }}</div>
                        </div>

                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Domicilio:</span>
                            </div>
                            <br>
                            <div id="a"  style="margin-left:-6.5%; margin-top: 5px">{{ autorizado.domicilio }}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Sexo:</span>
                            </div>  
                            <br>
                            <div style="margin-left:-1%">{{ autorizado.sexo }}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -4%;" class="input-group-text" id="inputGroup-sizing-sm">Telefono:</span>
                            </div>  
                            <br>
                            <div style="margin-left: -0.6%; margin-top: 5px">{{ autorizado.telefono_autorizado }}</div>
                        </div>
                        <div class="input-group input-group-sm mb-3 form-group">
                            <div class="input-group-prepend">
                                <span style="margin-left: -5%;" class="input-group-text" id="inputGroup-sizing-sm">Email:</span>
                            </div>
                            <br>
                            <div style="margin-left: -1%; margin-top: 5px">{{ autorizado.email }}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </form>

    {% if opcion == 'Crear'%}
        <center><button onclick="crear_Autorizado()" class="btn btn-success" style="width:350px">Cargar</button></center>
    {% else %}
        <center><button onclick="editar_Autorizado()" class="btn btn-success" style="width:30%">Editar</button></center>
    {% endif %}
    
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Resultado</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <span id="resultado_crear_a"></span>
                <div style="margin-top:5%" id="loader_resultado" class="loader"></div>
            </div>

            <div class="modal-footer" id="footer">
                <a type="button" class="btn btn-success" style="display: none;" href="{% url 'index' %}" id="continuar">Continuar</a>
                <a class="btn btn-primary" type="button" data-dismiss="modal"  id="volver">Volver</a>
            </div>
        </div>
    </div>
</div>

<script>

    function crear_Autorizado(){
        if (confirm("¿Crear Autorizado ?")) {
            var myForm = document.getElementById('form_autorizado');
            formData = new FormData(myForm);
            document.getElementById("resultado_crear_a").innerHTML = "";
            $('#myModal').modal('show');
            document.getElementById("continuar").style.display = "none";
            document.getElementById("volver").style.display = "none";
            document.getElementById("loader_resultado").style.display = "block";
            $.ajax({
                url: '{% url 'crear_autorizado' %}',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    document.getElementById("loader_resultado").style.display = "none";
                    document.getElementById("resultado_crear_a").innerHTML = data.resultado;
                    if (data.error){
                        document.getElementById("continuar").style.display = "none";
                        document.getElementById("volver").style.display = "block";
                    }else{
                       document.getElementById("continuar").style.display = "block";
                        document.getElementById("volver").style.display = "none";
                    }
                }
            });
        } else {
            return;
        }
    }
    
    function editar_Autorizado(){
        if (confirm("¿Editar Autorizado ?")) {
            var myForm = document.getElementById('form_autorizado');
            formData = new FormData(myForm);
            document.getElementById("loader_resultado").style.display = "none";
            $('#myModal').modal('show');
            $.ajax({
                url: '{% url 'editar_autorizado' %}',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    document.getElementById("resultado_crear_a").innerHTML = data.resultado;
                    if (data.error){
                        document.getElementById("continuar").style.display = "none";
                        document.getElementById("volver").style.display = "block";
                    }else{
                        document.getElementById("continuar").style.display = "block";
                        document.getElementById("volver").style.display = "none";
                    }
                }
            });
        } else {
            return;
        }
    }    
</script>
{% endblock body %}
