{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}
<br>
<div class="card text-center" style="width: 30%; margin-left: 35%">
    <div class="card-body">
        <h4 class="card-title">Datos de {{autorizado.apellido|title}} {{autorizado.nombre|title}}</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Nombre: {{autorizado.nombre|title}}</li>
            <li class="list-group-item">Apellido: {{autorizado.apellido|title}}</li>
            <li class="list-group-item">Dni: {{autorizado.dni}}</li>
            <li class="list-group-item">Lugar Nacimiento: {{autorizado.lugar_nacimiento|title}}</li>
            <li class="list-group-item">Fecha Nacimiento: {{autorizado.fecha_nacimiento}}</li>
            <li class="list-group-item">Domicilio: {{autorizado.domicilio|title}}
            <li class="list-group-item">Email: {{autorizado.email}}</li>
            <li class="list-group-item">Sexo: {{autorizado.sexo}}</li>
        </ul>
    </div>
</div>


{% endblock body %}
