{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

{% load poll_extras %}

<br>
<div align="center">
    {% if trabajadores|length != 0 %}

    <div align="center">
        <h3><center>{{cargo}}</center></h3>
        <br>

        <input type="text" id="input_filter" onkeyup="filterFunction()" placeholder="{{msg}} que desea buscar.">
    </div>
    <br>
    <table class="table table-sm table-hover" style="width: 25%" id="funcion_filter">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dni</th>
                <th>Email</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            {% for a in trabajadores %}
            <tr>
                <td>{{a.nombre_t|title}}</td>
                <td>{{a.apellido_t|title}}</td>
                <td>{{a.dni_t|title}}</td>
                <td>{{a.email_t|title}}</td>
                <td ><button class="btn btn-primary" onclick="info_trabajador('{% url 'datus_usuario_t' a.dni_t %}')"><i style="font-size:15px" class="fa">&#xf129;</i></button></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    {% else %}

    <h3><center>No hay ninguna Obra Social.</center></h3>

    {% endif %}
</div>

<div class="modal fade" id="modal_info">
    <div class="modal-dialog modal-sm modal-dialog-centered">

        <div id="datos_trabajador">
        </div>
    </div>
</div>

<script>

    //Script de el filter:
    function filterFunction() {
        // Declarando Variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("input_filter");
        filter = input.value.toUpperCase();
        table = document.getElementById("funcion_filter");
        tr = table.getElementsByTagName("tr");

        // Recorre todas las filas de la tabla y oculte a las que no coincidan con lo que se busca
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }   
        }
    }

    function info_trabajador(url){
        $.ajax({
            method: "POST",
            url: url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        })
            .done(function (data) {
            $("#datos_trabajador").html(data);
            $('#modal_info').modal('show');
        });
    }
</script>

{% endblock body %}