<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <span>Datos de {{trabajador.trabajador.nombre_t|title}}:</span>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <p>Nombre de Usuario: {{trabajador.user.username}}</p>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" id="cerrar_btn">Continuar</button>
        </div>
    </div>
</div>