<div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Datos de {{doc.title}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

      <!-- Modal body -->
        <div class="modal-body">
            <span class="badge badge-secondary">Titulo:</span><div class="alert alert-secondary" role="alert">{{doc.title}}</div>
            <span class="badge badge-secondary">Descripción:</span><div class="alert alert-secondary" role="alert">{{doc.description}}</div>
            <span class="badge badge-secondary">Genero:</span><div class="alert alert-secondary" role="alert">{{doc.genero}}</div>
            <span class="badge badge-secondary">Autor:</span><div class="alert alert-secondary" role="alert">{{doc.autor}}</div>
            <span class="badge badge-secondary">Documento:</span><div class="alert alert-secondary" role="alert">{{doc.document}}</div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

    </div>
</div>