<div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Datos</h4>
        </div>

      <!-- Modal body -->
        <div class="modal-body">
            <span>Cantidad de Libros:</span> {{documentos.cantidad}}<br>
            <span>Cantidad de Libros Habilitados:</span> {{documentos.habilitados}}<br>
            <span>Cantidad de Libros Deshabilitados:</span> {{documentos.deshabilitados}}<br>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <a class="button" href="{% url 'export_books' %}">Guardar Reporte</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
        </div>

    </div>
</div>