{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<div id="form_Pass">
    <form id="GetDataForPassword" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label class="form_biblo">Dni:</label>
            <div>
                {{ form.dni }}
            </div>
        </div>

        <div class="form-group">
            <label class="form_biblo">Email:</label>
            <div>
                {{ form.email }}
            </div>
        </div>

    </form>

</div>

    <button class="btn btn-success" align="center"  onclick="new_pass('{% url 'userDocente' %}')">Buscar</button>
    <span id="resultado"></span>

<script>
    
    function new_pass(url){
        var myForm = document.getElementById('GetDataForPassword');
        formData = new FormData(myForm);
        $.ajax({
            url: url,
            data: formData,
            processData: false,
            contentType: false,
            type: 'POST',            
            success: function(data){
                console.log(data.error);
                if (data.error){
                    var x = document.getElementById("resultado");
                    x.innerHTML = data.resultado;
                }else{
                    var x = document.getElementById("form_Pass")
                    x.style.display = "block";
                    var y = document.getElementById("resultado");
                    y.innerHTML = data.resultado;
                }
            }
        });
    }
</script>

{% endblock body %}
