{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<style>
    input{
        width: 145%
    }
    #a{
        width: 106%
    }
</style>



<div class="card mx-auto" style="width: 28%; margin-top: 5%">
    <article class="card-body">
        <h4 class="card-title text-center mb-4 mt-1">Cambio de contraseña</h4>
        <hr>
        <p class="text-success text-center"></p>
        <form id="GetDataForPassword" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group">
                    <div class="form-group">
                        <label class="form_biblo">Dni:</label>
                        <div>
                            {{ form.dni }}
                        </div>
                    </div>
                </div> <!-- input-group.// -->
            </div> <!-- form-group// -->

            <div class="form-group">
                <div class="input-group">
                    <div class="form-group">
                        <label class="form_biblo">Email:</label>
                        <div id="a">
                            {{ form.email }}
                        </div>
                    </div>
                </div> <!-- input-group.// -->
            </div> <!-- form-group// -->

            
    </article>
    <button class="btn btn-success" align="center"  onclick="new_pass('{% url 'userDocente' %}')">Buscar</button>
    <span id="resultado"></span>
    
    <form id="form" action="{% url 'index' %}">
    </form>




    

<script>
    
    function new_pass(url){
        var myForm = document.getElementById('GetDataForPassword');
        formData = new FormData(myForm);
        $.ajax({
            url: url,
            data: formData,
            processData: false,
            contentType: false,
            type: 'POST',            
            success: function(data){
                console.log(data.error);
                if (data.error){
                    var x = document.getElementById("resultado");
                    x.innerHTML = data.resultado;
                }else{
                    var x = document.getElementById("form_Pass")
                    x.style.display = "block";
                    var y = document.getElementById("resultado");
                    y.innerHTML = data.resultado;
                }
            }
        });
    }
</script>

{% endblock body %}
