
input.input_sm_number { width:100%; }

body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('/static/img/2zorrilla.jpeg');

    /* Full height */
    height: 100%; 
    z-index:  -1;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*----------------flip card-------------------*/

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

/*----------------------------------------------*/



.parallax_blur {
    /* The image used */
    background-image: url('/static/img/blur.png');

    /* Full height */
    height: auto; 
    z-index:  0;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar-nav{ 
    list-style:none;
    margin:10px;
}

.navbar{
    z-index:  2;
}

#map {
    height: 400px;
    width: 100%;
}

.card, .card-img-top {
    border-radius: 0;
    width: 100%;
}

input[type=text]{
    margin-left: 15px;
    width:290px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius:4px;
    padding: 0px 5px;
    font-size: 16px;
}
#bot{
    margin-left: 686px;
}

.centerB{
    margin: 0 auto;
    text-align: center
}

.Acenter{
    margin: 0px;
}



---------------------------------------------------
/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: black;
    color: white;

}



/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #222121;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.boton_cargar{
    position: absolute;
    bottom:   5%;
}

.boton_informe{
    position: static;
    bottom:   3%;
}

/* end side bar */



/* Toast */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -110px;
    background-color: #0099cc;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* end Toast */
#snackbarlogin {
    visibility: hidden;
    min-width: 250px;
    margin-left: -110px;
    background-color: #5073C5;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 43.5%;
    bottom: 40px;
    font-size: 17px;
}

#snackbarlogin.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s fadeout 0.5s, 1.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


/* end Toast */

.hdp{
    align: right;
}
