{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}
    <body>

        <div class="modal fade" id="cargar_alumno" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Matriculacion de Alumno.</h5>
                    </div>
                    <div class="container-fluid">
                        <div class="modal-body row">

                            <div>
                                <span style="margin-left:0">Resultado:</span>
                                <div style="width: 100%; margin-left: 50%; margin-top: -12.5%" id="resultado">Pedido enviado con Exito.</div>
                                <div style="margin-top:-35%; margin-left: 120%"  id="loader" class="loader"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button onclick="mostrar_modal()">Pop Up</button>

    </body>

    <script>

        document.getElementById("resultado").style.display = "none";

        function mostrar_modal(){
            $('#cargar_alumno').modal('show');
            myVar = setTimeout(showPage, 3000);
        }

        function showPage() {
          document.getElementById("loader").style.display = "none";
          document.getElementById("resultado").style.display = "block";
        }


    </script>
{% endblock body %}
