{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}
    <body>

        <div class="modal fade" id="cargar_alumno" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Matriculacion de Alumno.</h5>
                    </div>
                    <div class="container-fluid">
                        <div class="modal-body row">

                            <div>
                                <span style="margin-left:0%" id="resultado_span">Resultado: </span>
                                <div style="margin-left: 35%; margin-top: -10.5%" id="loader_resultado" class="loader"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button onclick="mostrar_modal()">Pop Up</button>

    </body>

    <script>

        function mostrar_modal(){
            $('#cargar_alumno').modal('show');
        }

    </script>
{% endblock body %}
