<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <span>Transportistas:</span>
        </div>
        <!-- Modal body -->
        <div class="modal-body">

            {% if transportistas|length != 0%}
                <div id="hide_correct">
                    <input type="text"placeholder="Transportista que desea buscar" id="myInput" onkeyup="buscar_transportista()" size="5">
                    <select id="filter_by">
                        <option value=0>Nombre</option>
                        <option value=1>Apellido</option>
                        <option value=2>Dni</option>
                    </select>
                    <br>
                    <br>
                    <div class="table-wrapper-scroll-y">
                        <table class="table table-bordered" id="tabla_transportistas">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Dni</th>
                                <th>Opcion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in transportistas %}
                                <tr>
                                    <td>{{t.nombre|title}}</td>
                                    <td>{{t.apellido|title}}</td>
                                    <td>{{t.dni}}</td>
                                    <td><input type="radio" id={{t.dni}} name="transporte" value={{t.dni}}></td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                        <br>
                    </div>
                </div>
            {% else %}
                <h3><center>No hay ningun Transportista.</center></h3>
            {% endif %}
            <span id="resultado_asignar_transportista"></span>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <form id="select_transportista" method="post" href="{% url 'asignar_transportista' %}">
                {% csrf_token %}
                <input name="dni_alumno" id="dni_alumno" value={{dni_alumno}} type="hidden">
                <input name="dni_transportista" id="dni_transportista" value=0 type="hidden">
            </form>
            <a class="btn btn-primary centerB" href="{% url 'form_transportista' %}" align="left" id="crear_btn">Crear Transportista</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="cerrar_btn">Cerrar</button>
            <button type="button" class="btn btn-success" id="cont_transportista" onclick="select_transportista()">Asignar</button>
            <button type="button" class="btn btn-success" id="cont_btn" onclick="refresh_p()">Continuar</button>
        </div>
    </div>
</div>



<script>

    $('input[name=transporte]').click(function() {
        var aux = $('input[name=transporte]:checked').val();
        document.getElementById("dni_transportista").value = aux
        document.getElementById("cont_transportista").style.display = "block";
    });

    document.getElementById("cont_transportista").style.display = "none";
    document.getElementById("cont_btn").style.display = "none";

    function select_transportista(){
        var aux_form = document.getElementById("select_transportista");
        var r = confirm("¿Asignar este Transportista ?");
        if (r == true) {
            var myForm = document.getElementById('select_transportista');
            formData = new FormData(myForm);
            $.ajax({
                url: '{% url 'asignar_transportista' %}',
                data : formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    document.getElementById("hide_correct").style.display = "none";
                    document.getElementById("resultado_asignar_transportista").innerHTML = data.resultado;
                    document.getElementById("cont_transportista").style.display = "none";
                    document.getElementById("cerrar_btn").style.display = "none";
                    document.getElementById("crear_btn").style.display = "none";
                    document.getElementById("cont_btn").style.display = "block";
                }
            });
        } else {
            return;
        }
    }

    function buscar_transportista() {
        var e = document.getElementById("filter_by");
        var strUser = e.options[e.selectedIndex].value;
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tabla_transportistas");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[strUser];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
