{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<style type="text/css">
    input{
        width: 140%
    }
    #a{
        width: 40%  
    }
</style>

<br>
<form id="form_transportista" style="margin-left: 30%;" method="post">
    {% csrf_token %}
    <div class="card text-center" style="width: 55%;">
        <div class="card-body">
            <h4 class="card-title">Crear Transportista</h4>

            <ul class="list-group list-group-flush">

                <li class="list-group-item">

                    <div class="input-group input-group-sm mb-3 form-group">
                        <div style="margin-right: 300%;" class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Nombre:</span>
                        </div>
                        <div style="margin-left: -3.5%; margin-right: 17%;">{{form_transportista.nombre}}</div>
                    </div>

                    <div class="input-group input-group-sm mb-4 form-group">
                        <div style="margin-right: 300%;" class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Apellido:</span>
                        </div>
                        <div style="margin-left: -3.5%; margin-right: 17%;">{{form_transportista.apellido}}</div>
                    </div>

                    <div class="input-group input-group-sm mb-3 form-group">
                        <div style="margin-right: 300%;" class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">DNI:</span>
                        </div>
                        <div id="b" style="margin-left: 0%; margin-right: 45%;">{{form_transportista.dni}}</div>
                    </div>

                    <div class="input-group input-group-sm mb-3 form-group">
                        <div style="margin-right: 300%;" class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Lugar de nacimiento:</span>
                        </div>
                        <div id="a" style="margin-left: -3.5%; margin-right: 40%;">{{form_transportista.lugar_nacimiento}}</div>
                    </div>

                    <div class="input-group input-group-sm mb-3 form-group">
                        <div style="margin-right: 300%;" class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Fecha de nacimiento:</span>
                        </div>
                        <br>
                        <div id="a"  style="margin-left: 0%; margin-right: 50%;">{{form_transportista.fecha_nacimiento}}</div>
                    </div>

                    <div class="input-group input-group-sm mb-3 form-group">
                        <div style="margin-right: 300%;" class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Domicilio:</span>
                        </div>
                        <div style="margin-left:-3.5%; margin-right: 40%;">{{form_transportista.domicilio}}</div>
                    </div>
                    <div class="input-group input-group-sm mb-3 form-group">
                        <div style="margin-right: 300%;" class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Email:</span>
                        </div>

                        <div style="margin-left: 0%; margin-right: 40%;">{{form_transportista.email}}</div>

                    </div>
                    <div class="input-group input-group-sm mb-3 form-group">
                        <div style="margin-right: 300%;"class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Sexo:</span>
                        </div>
                        <br>
                        <div style="margin-left: 0%">{{form_transportista.sexo}}</div>
                    </div>
                    <div class="input-group input-group-sm mb-3 form-group">
                        <div style="margin-right: 300%;" class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Nombre del transporte:</span>
                        </div>

                        <div style="margin-left:-3.5%; margin-right: 10%;">{{form_transportista.nombre_transporte}}</div>

                    </div>
                    <div class="input-group input-group-sm mb-3 form-group">
                        <div style="margin-right: 300%;" class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Telefono del transporte:</span>
                        </div>

                        <div id="a" style="margin-left:0%; margin-right: 25%;">{{form_transportista.telefono_transportista}}</div>

                    </div>
                    <div class="input-group input-group-sm mb-3 form-group">
                        <div style="margin-right: 300%;" class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Detalles:</span>
                        </div>

                        <div id="a" style="margin-left:0%">{{form_transportista.detalles_transportista}}</div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>
<center><button class="btn btn-success" onclick="matricular_Transportista()" id="btn_padre">Cargar</button></center>



<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Resultado</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <span id="resultado_crear_t"></span>
            </div>

            <div class="modal-footer" id="footer">
                <button type="button" style="display: none;" class="btn btn-success" onclick="volver_pedidos()" id="continuar">Continuar</button>
                <button type="button" style="display: none;" class="btn btn-primary" data-dismiss="modal" id="volver">Volver</button>
            </div>
        </div>
    </div>
</div>

<form id="pedidos" action="{% url 'index' %}" method="post">
    {% csrf_token %}
</form>

<script>

    function volver_pedidos(){
        var aux_form = document.getElementById("pedidos");
        aux_form.submit();
    }

    function matricular_Transportista(){
        if (confirm("Press a button!")) {
            var myForm = document.getElementById('form_transportista');
            formData = new FormData(myForm);
            $('#myModal').modal('show');
            $.ajax({
                url: '{% url 'crear_transportista' %}',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    document.getElementById("resultado_crear_t").innerHTML = data.resultado;
                    if (data.error){
                        document.getElementById("continuar").style.display = "none";
                        document.getElementById("volver").style.display = "block";
                    }else{
                       document.getElementById("continuar").style.display = "block";
                        document.getElementById("volver").style.display = "none";
                    }
                }
            });    
        } else {
            return;
        } 
    }

</script>
{% endblock body %}
