{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

    <p>Nombre: </p>{{transportista.nombre}}
    <p>Apellido:</p>{{transportista.apellido}}
    <p>Dni:</p>{{transportista.dni}}
    <p>Lugar Nacimiento:</p>{{transportista.lugar_nacimiento}}
    <p>Fecha Nacimiento:</p>{{transportista.fecha_nacimiento}}
    <p>Domicilio:</p>{{transportista.domicilio}}
    <p>Email:</p>{{transportista.email}}
    <p>Sexo:</p>{{transportista.sexo}}
    <p>Nombre del Transporte:</p>{{padre.nombre_transporte}}
    <p>Telefono del Transportista:</p>{{padre.telefono_transportista}}
    <p>Detalles del Transportista:</p>{{padre.detalles_transportista}}

{% endblock body %}
