{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

{% load poll_extras %}

<br>
<div id="contenido">
    {% if transportistas|length != 0 %}

    <h3><center>Transportistas</center></h3>
    <br>
    <div align="center">
        <input type="text"placeholder="Transportista que desea buscar" id="input_t" onkeyup="buscar_transportista()" size="5">
        <select id="filtro_t">
            <option value=0>Nombre</option>
            <option value=1>Apellido</option>
            <option value=2>Dni</option>
        </select>
    </div>


    <br>

    <div class="col-md-12">
        <h4></h4>
        <div class="table-responsive">


            <table id="tabla_t" class="table table-hover">

                <thead class="thead">
                    <th>Nombre Transportista</th>
                    <th>Apellido Transportista</th>
                    <th>Dni Transportista</th>
                    <th>Nombre Transporte</th>
                    <th>Telefono Transporte</th>
                    <th>Info</th>
                </thead>
                {% for a in transportistas %}
                <tbody>

                    <tr>
                        <td>{{a.nombre}}</td>
                        <td>{{a.apellido}}</td>
                        <td>{{a.dni}}</td>
                        <td>{{a.nombre_transporte}}</td>
                        <td>{{a.telefono_transportista}}</td>
                        <td><button class="btn btn-primary" onclick="info_transportista('{% url 'usuarios_transportista' a.dni %}')"><i style="font-size:15px" class="fa">&#xf129;</i></button></td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>

            {% else %}

            <h3><center>No hay ningun Transportista.</center></h3>
        
            {% endif %}

        </div>

    </div>


<div class="modal fade" id="modal_info">
    <div class="modal-dialog">
        <div id="datos_transs">
        </div>
    </div>
</div>

<script>

    function info_transportista(url, alum){
        $.ajax({
            method: "POST",
            url: url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        })
            .done(function (data) {
            $("#datos_transs").html(data);
            $('#modal_info').modal('show');
        });
    }

    function buscar_alumno() {
        var e = document.getElementById("filter_by");
        var strUser = e.options[e.selectedIndex].value;
        var input, filter, table, tr, td, i;
        input = document.getElementById("inputTranss");
        filter = input.value.toUpperCase();
        table = document.getElementById("tabla_trans");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[strUser];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    
    function buscar_transportista() {
        var e = document.getElementById("filtro_t");
        var strUser = e.options[e.selectedIndex].value;
        var input, filter, table, tr, td, i;
        input = document.getElementById("input_t");
        filter = input.value.toUpperCase();
        table = document.getElementById("tabla_t");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[strUser];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>

{% endblock body %}
