{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body %}

<style>

    .table-wrapper-scroll-y {
      display: block;
      max-height: 200px;
      overflow-y: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

</style>

<br>
<div id="contenido">
    {% if transportistas|length != 0 %}

    <h3><center>Transportistas de {{alumno.apellido|title}} {{alumno.nombre|title}}.</center></h3>
    <br>

    <table style="width:50%" align="center">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Nombre Transporte</th>
            <th>Telefono Transporte</th>
            <th>Desvincular</th>
            <th>Editar</th>
            <th>Info</th>
        </tr>
        {% for a in transportistas %}
        <tr>
            <td>{{a.transportista.nombre|title}}</td>
            <td>{{a.transportista.apellido|title}}</td>
            <td>{{a.transportista.dni}}</td>
            <td>{{a.transportista.nombre_transporte|title}}</td>
            <td>{{a.transportista.telefono_transportista}}</td>
            <td><button class="btn btn-warning" onclick="desvincular({{a.transportista.dni}})"><i class="fa fa-ban"></i></button></td>
            <td><a class="btn btn-info" href="{% url 'form_editar_transportista' a.transportista.dni %}"><i class="fa fa-edit"></i></a></td>
            <td><a class="btn btn-primary" href="{% url 'datos_transportista' a.transportista.dni %}" id="info_book"><i style="font-size:15px" class="fa">&#xf129;</i></a></td>
        </tr>
        {% endfor %}

    </table>

    {% else %}

    <h3><center>{{alumno.apellido|title}} {{alumno.nombre|title}} no utiliza ningun Transporte.</center></h3>

    {% endif %}
</div>
<br>

<center>
    <button class="btn btn-success text-white" onclick="traer_transportistas('{% url 'todos_los_transportistas_asignar' alumno.dni %}')">Asignar Transportista</button>
    <a class="btn btn-primary" href="{% url 'datos_alumno' alumno.dni %}">Volver</a>
    <a class="btn btn-primary" href="{% url 'traer_pedidos' %}">Volver a Pedidos</a>
</center>

<div class="modal fade" id="todos_los_transportistas">
    <div class="modal-dialog modal-lg">
        <div id="datos_transportista">
        </div>
    </div>
</div>

<form id="desvincular_transportista" method="post" action="{% url 'desvincular_transportista' %}">
    {% csrf_token %}
    <input type="hidden" value="{{alumno.dni}}" name="dni_alumno">
    <input type="hidden" value=0 name="dni_transportista" id="dni_transportista">
</form>

<form action="{% url 'transportistas_del_alumno' alumno.dni%}" method="post" id="tda">
    {% csrf_token %}
</form>

<script>

    function desvincular(dni_transportista){
        if (confirm("¿Desvincular a este Transportista ?")) {
            document.getElementById("dni_transportista").value = dni_transportista;
            var des = document.getElementById("desvincular_transportista");
            des.submit();
        } else {
            return;
        }
    }

    function traer_transportistas(url){
        $.ajax({
            method: "POST",
            url: url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        })
            .done(function (data) {
            $("#datos_transportista").html(data);
            $('#todos_los_transportistas').modal('show');
        });
    }


    function refresh_p(){
        var des = document.getElementById("tda");
        des.submit();
    }

</script>

{% endblock body %}
